//banner header
.banner {
    display: block;
    background: #E9F0FC;
    height: 56px;
    overflow: hidden;

    background-image: image-set("../img/top_banner.png" 1x, "../img/top_banner2.png" 2x);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #E9F0FC;
    
    // &__wrap {
    //     max-width: 1017px;
    //     width: 90%;
    //     margin: 0 auto;
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     gap: 10px;
    //     height: 100%;
        
    // }
    // &__name {
    //     font-weight: 700;
    //     font-size: 18px;
    //     border-right: 2px solid $text-color;
        
    //     padding-right: 5px;
    // }
    // &__date {
    //   padding-left: 0px;
    //   font-size: 18px;
    //   height: 24px;
    //   padding-top: 2px;
    // }
    // &__btn {
    //     font-weight: 400;
    //     font-size: 14px;
    //     color: #212529;
    //     text-decoration: none;
    //     display: block;
    //     padding: 7px 16px;
    //     border: 1px solid rgba(33, 37, 41, .3);
    //     border-radius: 30px;
    //     margin-left: 43px;
    //     &:hover {
    //         opacity: .5;
    //     }
    //     &:active {
    //         box-shadow: inset 4px 4px 4px rgba(16, 16, 16, 0.68);

    //     }
    // }
    // &__cup {
    //     transform: rotate(-15deg) translateY(10px);
    //     display: block;
    //     margin-left: -18px;
    // }
    // &__logo {
    //     width: 109px;
    //     display: block;
    //     margin-left: -9px;
    // }
}
//banner block
.banners {
  align-self: flex-start;
    &__block {
        &>img {
            width: 100%;
          }
          .wrapper {
            align-items: flex-start;
          }
          width: 372px;
          height: 140px;
          padding: 28px 26px 36px;
          border-radius: 10px;
          margin-bottom: 20px;
          position: relative;
          &:nth-child(1) {
            padding: 0;
          }
          &:nth-child(2) {
            background: #F2F2F4;
          }
          &:nth-child(3) {
            background: #E9F0FC;
          }
          &__title {
            margin-bottom: 20px;
            line-height: 20px;
          }
          &__content {
            max-width: 146px;
            
          }
          &__img {
            position: absolute;
            top: 0;
            right: 0;
            max-width: 60%;
          }
    }

}