.blog {
    h1 {
        margin: 0 0 24px;
    }
    padding: 73px 0 120px;
    &__links {
        display: flex;
        justify-content: flex-start;
        gap: 16px;
        margin-bottom: 40px;
    }
    &__link {
        display: block;
        background: #E9F0FC;
        border-radius: 6px;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        color: $text-color;
        text-decoration: none;
        padding: 9px 16px;
        transition: all .3s;
        &_active {
            background: $blue;
            color: #fff;
        }
        &:hover {
            background: $blue;
            color: #fff;
        }
    }
    &__stories {
        display: block;
        border-radius: 100%;
        position: relative;
        width: 120px;
        height: 120px;
        margin-bottom: 16px;
       &_viewed {
        opacity: .5;
       }
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(#2764E0, #DD0858);
            border-radius: 100%;
            z-index: -1;
        }
        &__img {
            display: flex;
            justify-content: center;
            align-items: center;
            width: calc(100% - 6px);
            height: calc(100% - 6px);
            background: #fff;
            border-radius: 100%;
            overflow: hidden;
            transform: translate(3px, 3px);
            img {
                width: 91%;
                height: 91%;
                object-fit: cover;
                border-radius: 100%;
            }
        }
    
    }
    &__slider {
        margin-bottom: 48px;
        .fs_14 {
            width: 120px;
            
        }
        .center {
            margin: 0;
        }
    }
    .slick-arrow {
        width: 48px;
        height: 48px;
        border-radius: 100%;
        border: none;
        outline: none;
        background: #F2F2F4;
        position: absolute;
        top: 37%;
        transform: translateY(-50%);
        z-index: 3;
        cursor: pointer;
    }
    .slick-next {
        right: -60px;
    }
    .slick-prev {
        opacity: 0;
        width: 1px;
        height: 1px;
    }
    &__articles {
        display: flex;
        gap: 64px 32px;
        flex-wrap: wrap;
        margin-bottom: 40px;
        // display: grid;
        // grid-template-columns: repeat(4, 278px);
        &__item {
            text-decoration: none;
            color: $text-color;
            &_278 {
                width: 278px;
            }
            &_587 {
                width: 587px;
                margin-bottom: 24px;
            }
        }
    }
    &__img {
        
        width: 100%;
        overflow: hidden;
        border-radius: 12px;
        img {
            width: 100%;
            object-fit: cover;
            display: block;
        }
    }
    &__subscribe {
        border-radius: 12px;
        margin-top: 64px;
        background-color: #1C203A;
        background-image: url(../img/blog/blog_bg_subscribe.png);
        background-repeat: no-repeat;
        background-position: right bottom;
        background-size: cover;
        padding: 62px 64px;
        color: #fff;
        letter-spacing: .25px;
        &__content {
            max-width: 594px;
        }
        &__form {
            margin-bottom: 44px;
            display: flex;
            justify-content: flex-start;
        }
        &__input {
            background: transparent;
            border-radius: 6px;
            border-radius: 6px;
            border: 1px solid #9295AE;
            font-size: 14px;
            padding: 9px 16px 10px;
            width: 249px;
            height: 38px;
            margin-right: 16px;
            color: #fff;
            line-height: normal;
            &::placeholder {
                color: #9295AE;
            }
            &:focus {
                outline: 2px solid #e9effc;
                
            }
        }
        .fs_13 {
            a {
                color: #fff;
                text-decoration: none;
            }
        }
        
    }
}