.cart {
    padding: 32px 0 207px;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 64px;
    }
    &__subtitle {
        color: $dark_back;
        font-weight: 400;
        font-size: 16px;
        margin: 12px 0 20px;
        line-height: 156%;
    }
    &__wrap {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        
        &__input {
            margin-right: 15px;
            margin-bottom: 2px;
            width: 21px;
            height: 22px;
            
            position: relative;
            outline: none;
            z-index: 9;
            
            &::after {
                content: '';
                position: absolute;
                background: #fff;
                top: -1px;
                left: -1px;
                width: 24px;
                height: 24px;
                min-width: 24px;
                z-index: 10;
                cursor: pointer;
                border: 1px solid #DDDDDD;
                border-radius: 6px;
                transition: border .3s;
            }
            &:hover {
                &::after {
                    border: 1px solid #2764E0;
                    
                }
            }
            &:active {
                &::after {
                    background: $blue;
                    background-image: url(../img/checked.svg);
                    background-repeat: no-repeat;
                    background-position: center;
                    border: none;
                }
            }
            &:checked {
                &::after {
                    background: #3473F4;
                    background-image: url(../img/checked.svg);
                    background-repeat: no-repeat;
                    background-position: center;
                    border: none;
                }
            }
            
           
        }
        &__img {
            margin-right: 8px;
        }
        label {
            cursor: pointer;
            line-height: normal;
        }
    }
    &__menu {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 24px;
    }
    &__text {
        font-style: normal;
        font-weight: 600;
        
        &_14 {
           
            font-size: 14px;
        }
        &_16 {
            max-width: 364px;
            font-size: 16px;
        }
    }
  &__prod {
    width: 68%;
    max-width: 992px;
  }
  &__block {
    margin-bottom: 40px;
  }
    &__head {
        background: #F2F2F4;
        border-radius: 8px;
        padding: 11px 24px;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        margin-bottom: 31px;
        line-height: normal;
       height: 44px;
    }
    &__item {
        display: flex;
        justify-content: space-between;
        padding-bottom: 28px;
        margin-bottom: 24px;
        border-bottom: 1px solid #F2F2F4;    
    }
    &__price {
        margin: 14px 8px 0 0;
        line-height: normal;
    }
    &__name {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 24px;
        
        &__input {
            width: 19px;
            height: 19px;
            min-width: 24px;
            cursor: pointer;
            position: relative;
            outline: none;
            margin-top: 5px;
            
            &::after {
                content: '';
                position: absolute;
                background: #fff;
                top: -1px;
                left: 0;
                width: 24px;
                height: 24px;
                z-index: 10;
                cursor: pointer;
                border: 1px solid #DDDDDD;
                border-radius: 6px;
                transition: border .3s;
            }
            &:hover {
                &::after {
                   border: 1px solid #2764E0;
                
                }
            }
            &:active {
                &::after {
                    background: $blue;
                    background-image: url(../img/checked.svg);
                    background-repeat: no-repeat;
                    background-position: center;
                    border: none;
                }
            }
            &:checked {
                &::after {
                    background: #3473F4;
                    background-image: url(../img/checked.svg);
                    background-repeat: no-repeat;
                    background-position: center;
                    border: none;
                }
            }
        }
        &__raiting {
            font-weight: 400;
            display: flex;
            gap: 12px;
            margin-top: 6px;
            line-height: 156%;
            font-size: 16px;
            margin-left: -2px;
            span {
                color: #37A71A;
                display: flex;
                align-items: center;
                img {
                    margin-right: 4px;
                }
            }
        }
    }
    &__quantity {
        &__count {
            display: flex;
            justify-content: space-between;
            align-items: center;
            // border: 1px solid #DDDDDD;
            border-radius: 5px;
            background: #FFFFFF;
            
            width: 170px;
            height: 38px;
            margin-top: 8px;
            margin-right: 60px;
            position: relative;
            .minus {
                cursor: pointer;
                position: absolute;
                height: 100%;
                width: 20px;
                left: 12px;
                display: flex;
                align-items: center;
            }
            .plus {
               display: flex;
               align-items: center;
               cursor: pointer;
               position: absolute;
               right: 11px;
               top: 50%;
               transform: translateY(-50%);
               height: 100%;
                width: 20px;
              
                
            }
            .quantity {
                outline: none;
                border: 1px solid #DDDDDD;
                border-radius: 5px;
                width: 51px;
                width: 100%;
                height: 100%;
                padding: 9px 35px;
                text-align: center;
                appearance: none;
                height: 38px;
                line-height: normal;
                font-size: 15px;
                
                &:focus {
                    outline: 4px solid #E9EFFC;
                    border: 1px solid $blue;
                    border-radius: 5px;
                   
                }
                
                
            }
            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }
            
            
            
        }
    }
    &__price {
        &__prod {
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            width: 70px;
            text-align: right;
            margin-left: auto;
        }
        &__summ {
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            width: 80px;
            margin-top: 12px;
        }
    }
    &__order {
        margin-top: 49px;
        padding: 10px;
        background: #FFFFFF;
        box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
        border-radius: 12px;
        width: 27%;
        max-width: 400px;
        min-width: 400px;
        &__question {
            display: inline-block;
            width: 16px;
            height: 16px;
            background: url(../img/question.svg) no-repeat center/contain;
            margin-bottom: -3px;
            margin-left: 4px;
        }
        &__wrap {
            padding: 14px;
            .btn {
                width: 100%;
                height: 56px;
            }
        }
        &__block {
            background: url(../img/back.png) no-repeat center;
            background-size: cover;
            border-radius: 10px;
            padding: 24px;
            max-width: 400px;
            margin-top: 18px;
        }
        &__btn {
            background: linear-gradient(90deg, #2864E0 0%, #DB0A5B 113.24%);
            border-radius: 6px;
            margin-top: 16px;
            width: 100%;
            padding: 8px 0 11px;
            transition: background .3s;
            &:hover {
                background: linear-gradient(90deg, #2864E0 0.34%, #DB0A5B 271.92%);


            }
        }
        
        
    }
    &__divider {
        height: 1px;
        background: #F2F2F4;
        margin: 24px 0;
    }
    &__deli {
        text-decoration: none;
        line-height: 156%;
        font-size: 16px;
        display: flex;
        align-items: center;
        img {
            margin-right: 16px;
        }
    }
    .gray {
        color: $dark_back;
    }
    .blue {
        color: $blue;
    }
    .weight400 {
        font-weight: 400;
    }
    
    .delete, .repost {
        cursor: pointer;
        line-height: normal;
    }
    .repost {
        margin-top: 2px;
    }
}
