.catalogFilters {
    &__title {
        margin-top: 32px;
    }
    &__subtitle {
        margin: 11px 0 27px;
    }
    .form__input {
      margin-bottom: 2px;
    }
    input[list="sizeoption"]::-webkit-calendar-picker-indicator {
        display: none !important;
      }
    input[list="metallobazalist"]::-webkit-calendar-picker-indicator {
        display: none !important;
      }
    input[list="standartlist"]::-webkit-calendar-picker-indicator {
        display: none !important;
      }
    input[list="markalist"]::-webkit-calendar-picker-indicator {
        display: none !important;
      }
    input[list="tollist"]::-webkit-calendar-picker-indicator {
        display: none !important;
      }
      .select {
        background: #FFFFFF;
        border: 1px solid #DDDDDD;
        position: relative;
        

      }
      .select_active {
        background: #E9F0FC;
        border: 1px solid #8EB1ED;
        }
   .showFilters {
    padding: 12px 24px;
    background: #e9f0fc;
    
    width: fit-content;
    color: $blue;
   }
    &__form {
      background: #FFFFFF;
      box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
      border-radius: 15px;
      padding: 32px 34px 29px 36px;
      align-self: flex-start;
    }
    &__radio {
      display: none;
    
    }
    &__link {
      display: flex;
      align-items: center;
      margin-right: 32px;
      img {
        margin-right: 11px;
      }
    }
    &__banners {
      align-self: flex-start;
    }
    &__banner {
      &>img {
        width: 100%;
      }
      .wrapper {
        align-items: flex-start;
      }
      width: 372px;
      height: 140px;
      padding: 28px 26px 36px;
      border-radius: 10px;
      margin-bottom: 20px;
      position: relative;
      &:nth-child(1) {
        padding: 0;
      }
      &:nth-child(2) {
        background: #F2F2F4;
      }
      &:nth-child(3) {
        background: #E9F0FC;
      }
      &__title {
        margin-bottom: 20px;
        line-height: 20px;
      }
      &__content {
        max-width: 146px;
        
      }
      &__img {
        position: absolute;
        top: 0;
        right: 0;
        max-width: 60%;
      }
    }
    &__count {
      background: #E9F0FC;
      border-radius: 10px;
      width: 100%;
      color: $blue;
      padding: 16px 0;
      text-align: center;
      margin-top: 36px;
      img {
        margin-right: 8px;
      }
    }
    &__grayLink {
      display: block;
      background: #EBEBEB;
      border-radius: 30px;
      font-size: 14px;
      padding: 9px 16px;
      text-decoration: none;
      color: $text-color;
      transition: all .3s;
      margin-right: 11px;
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        background: $blue;
        color: #fff;
      }
    }
    &__text {
      max-width: 579px;
      align-self: flex-start;
    }
    &__img {
      align-self: flex-start;
    }
    &__block {
      &__link {
        padding: 9px 16px;
        background: #F2F2F2;
        border-radius: 30px;
        font-weight: 400;
        font-size: 14px;
        text-decoration: none;
        color: $text-color;
        display: block;
        margin: 0 14px 16px 0;
        transition: all .3s;
        &:hover {
          background: #E9F0FC;
        }
      }
    }
    &__rew {
      background: #FFFFFF;
      box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.1);
      border-radius: 15px;
      padding: 40px 48px 46px;
    }
    &__header {
      width: 100%;
      height: 60px;
      padding: 20px 0;
      text-align: center;
      position: absolute;
      background: #FFFFFF;
      box-shadow: 0px 1px 14px rgba(47, 61, 84, 0.15);
      top: 0;
    left: 0;
    z-index: 10;
    display: none;
    }
    &__close {
      position: absolute;
      top: 43%;
      transform: translateY(-50%);
      left: 22px;
      transform: translateY(-50%);
    left: 22px;
    font-size: 36px;
    line-height: 36px;
    }
}
//radio buttons
.labelRadio {
  background: #FFFFFF;
  outline: 1px solid #DDDDDD;
  cursor: pointer;
  padding: 9px 16px;
  font-weight: 400;
  font-size: 14px;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    outline: 1px solid #8EB1ED;
    top: 0;
    left: 0;
    z-index: 5;
    display: none;
    
  }
  &:nth-child(2) {
    border-radius: 6px 0px 0px 6px;
    border-right: none;
    &::after {
      border-radius: 6px 0px 0px 6px;
    }
  }
  &:nth-child(4) {
    flex-grow: 1;
  }
  &:last-child {
    border-radius: 0px 6px 6px 0px;
    border-left: none;
    &::after {
      border-radius: 0px 6px 6px 0px;
    }
  }
  
}
.catalogFilters__radio:checked+label {
  background: #E9F0FC;
  &::after {
    display: block;
  }

  
}
.catalogFilters2 {
  &__wrapper {
    gap: 32px;
    margin-top: 32px;
  }
  padding: 80px 0;
  &__item {
    background: $light;
    border-radius: 12px;
    padding: 51px 56px 50px;
    max-width: 712px;
    &__img {
      background: #FFFFFF;
      box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.12);
      border-radius: 100%;
      width: 126px;
      height: 126px;
      min-width: 126px;
      margin-right: 48px;
    }
    .blue {
      margin-top: 13px;
      display: block;
    }
  }
}
.catalogFilters3 {
  padding-bottom: 100px;
  .tabs{
    &__caption {
      border-radius: 6px;
      
      list-style-type: none;
      display: flex;
      width: fit-content;
      margin-bottom: 20px;
      li {
        padding: 10px 16px;
        font-size: 14px;
        border: 1px solid #DDDDDD;
        background: #fff;
        cursor: pointer;
        &:last-child {
          border-radius: 0 6px 6px 0;
        }
        &:first-child {
          border-radius: 6px 0 0 6px;
        }
        &.active {
          background: #E9F0FC;
          border: 1px solid #2764E0;
          
        }
      }
    }
  }
  .tabs__content {
    display: none; 
    height: 100px;
  }
  .tabs__content.active {
    display: block; 
  }
}
.table {
  &__filters {
    margin: 20px 0;
    padding: 16px 0;
    border-bottom: 1px solid #F2F2F4;
  }
  &__filter {
    &__img {
      width: 12px;
      display: flex;
      flex-direction: column;
      gap: 3px;
      margin-right: 8px;
      margin-top: 3px;
      span {
        display: block;
        height: 1px;
        background: $text-color;
        &:nth-child(1) {
          width: 100%;
        }
        &:nth-child(2) {
          width: 60%;
        }
        &:nth-child(3) {
          width: 20%;
        }
      }
    }
  }
}