.catalogFilters {
    &__title {
        margin-top: 32px;
        line-height: normal;
    }
    &__subtitle {
        margin: 11px 0 27px;
    }
    .form__item_210 {
      max-width: 210px;
      min-width: 210px;
    }
    .form__input {
      margin-bottom: 2px;
      background-color: #E9F0FC;
      appearance: none;
        background: #E9F0FC;
        border: 1px solid #8EB1ED;
        
        position: relative;
        background-image: url(../img/form_arrow.svg);
        background-repeat: no-repeat;
        background-position: center right 15px;
        height: 38px;
      &:focus {
        background-color: #E9F0FC;
      }
      &:placeholder-shown:not(&:focus) {
        background-color: #fff;
        border: 1px solid #DDDDDD;
      }
      &:not(input) {
        background-color: #fff;
        border: 1px solid #DDDDDD;
      }
    }
    input[list="sizeoption"]::-webkit-calendar-picker-indicator {
        display: none !important;
      }
    input[list="metallobazalist"]::-webkit-calendar-picker-indicator {
        display: none !important;
      }
    input[list="standartlist"]::-webkit-calendar-picker-indicator {
        display: none !important;
      }
    input[list="markalist"]::-webkit-calendar-picker-indicator {
        display: none !important;
      }
    input[list="tollist"]::-webkit-calendar-picker-indicator {
        display: none !important;
      }
   .select_active:not(input) {
        background-color: #E9F0FC;
        border: 1px solid #8EB1ED;
        }
      
   .new-select {
    &:empty {
      background-color: #fff;
      border: 1px solid #DDD;
    }
    &.on {
      border: 1px solid #8EB1ED;
    }    
   }
   

   .showFilters {
    padding: 12px 24px;
    background: #e9f0fc;
    
    width: fit-content;
    color: $blue;
   }
    &__form {
      background: #FFFFFF;
      box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
      border-radius: 15px;
      padding: 32px 30px 29px 31px;
      align-self: flex-start;
    }
    .form__wrapper {
      margin-bottom: 32px;
      justify-content: flex-start;
     &_mb22 {
      margin-bottom: 22px;
     }
    }
    .form__divider {
      margin-bottom: 17px;
    }
    .btn {
      margin-right: 7px;
      padding: 13px 40px 14px;
    }
    &__radio {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      padding: 0;
      border: 0;
      clip: rect(0 0 0 0);
      overflow: hidden;

    
    }
    &__link {
      display: flex;
      align-items: center;
      margin-right: 32px;
      img {
        margin-right: 11px;
      }
    }
    &__banners {
      align-self: flex-start;
      margin-right: 15px;
      
    }
    &__banner {
      &>img {
        width: 100%;
      }
      &__imgBanner {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
      .wrapper {
        align-items: flex-start;
      }
      width: 372px;
      height: 140px;
      padding: 28px 26px 36px;
      border-radius: 10px;
      margin-bottom: 20px;
      position: relative;
      &:nth-child(1) {
        padding: 0;
      }
      &:nth-child(2) {
        background: #F2F2F4;
      }
      &:nth-child(3) {
        background: #E9F0FC;
      }
      &__title {
        margin-bottom: 20px;
        line-height: 20px;
      }
      &__content {
        max-width: 146px;
        
      }
      &__img {
        position: absolute;
        top: 0;
        right: 0;
        max-width: 60%;
      }
    }
    &__count {
      background: #E9F0FC;
      border-radius: 10px;
      width: 99%;
      color: $blue;
      padding: 16px 0;
      text-align: center;
      margin-top: 36px;
      line-height: normal;
      height: 51px;
      img {
        margin-right: 8px;
      }
    }
    &__grayLink {
      display: block;
      background: #EBEBEB;
      border-radius: 30px;
      font-size: 14px;
      padding: 9px 16px;
      text-decoration: none;
      color: $text-color;
      transition: all .3s;
      margin-right: 11px;
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        background: $blue;
        color: #fff;
      }
    }
    &__text {
      max-width: 579px;
      align-self: flex-start;
      margin-bottom: 24px;
    }
    &__img {
      align-self: flex-start;
      width: 340px;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    &__block {
      &__link {
        padding: 9px 16px;
        background: #F2F2F2;
        border-radius: 30px;
        font-weight: 400;
        font-size: 14px;
        text-decoration: none;
        color: $text-color;
        display: block;
        margin: 0 14px 16px 0;
        transition: all .3s;
        line-height: normal;
        &:hover {
          background: #E9F0FC;
        }
      }
    }
    &__rew {
      background: #FFFFFF;
      box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.1);
      border-radius: 15px;
      padding: 40px 48px 46px;
      .wrapper_start {
        margin-right: 30px;
        gap: 4px;
      }
    }
    &__header {
      width: 100%;
      height: 60px;
      padding: 20px 0;
      text-align: center;
      position: absolute;
      background: #FFFFFF;
      box-shadow: 0px 1px 14px rgba(47, 61, 84, 0.15);
      top: 0;
    left: 0;
    z-index: 10;
    display: none;
    }
    &__close {
      position: absolute;
      top: 43%;
      transform: translateY(-50%);
      left: 16px;
         
    font-size: 36px;
    line-height: 36px;
    }
    .labelRadio {
      margin-top: 2px;
    }
    .form__item_286 {
      position: relative;
    }
    .radio__tabs {
      margin-right: 0;
      margin-top: 2px;
    }
  }
    
//radio buttons
.labelRadio {
  background: #FFFFFF;
  outline: 1px solid #DDDDDD;
  cursor: pointer;
  padding: 9px 16px;
  font-weight: 400;
  font-size: 14px;
  position: relative;
  height: 38px;
  line-height: normal;
  transition: all .3s;
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    outline: 1px solid #8EB1ED;
    top: 0;
    left: 0;
    z-index: 5;
    display: none;
    
  }
  &:nth-child(2) {
    border-radius: 6px 0px 0px 6px;
    border-right: none;
    &::after {
      border-radius: 6px 0px 0px 6px;
    }
  }
  &:nth-child(4) {
    flex-grow: 1;
  }
  &:last-child {
    border-radius: 0px 6px 6px 0px;
    border-left: none;
    &::after {
      border-radius: 0px 6px 6px 0px;
    }
  }
  &:hover {
    background-color: $blue;
    outline: 1px solid $blue;
    color: #fff;
  }
}
.catalogFilters__radio:checked+label {
  background: #E9F0FC;
  &::after {
    display: block;
  }

  
}
.catalogFilters__radio:focus+label {
  background: #E9F0FC;
  &::after {
    display: block;
  }

  
}
.catalogFilters__radio:checked+label:hover {
 color: $text-color;
 
  outline: none;
  
}
.catalogFilters2 {
  h2 {
    line-height: normal;
  }
  &__wrapper {
    gap: 32px;
    margin-top: 32px;
  }
  padding: 0;
  &__item {
    background: $light;
    border-radius: 12px;
    padding: 51px 56px 50px;
    width: 49%;
    max-width: 712px;
    .fs_18 {
      line-height: normal;
    }
    .wrapper_start {
      align-items: center;
    }
    
    &__img {
      background: #FFFFFF;
      box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.12);
      border-radius: 100%;
      width: 126px;
      height: 126px;
      min-width: 126px;
      margin-right: 48px;
      img {
        max-width: 100%;
      }
    }
    .blue {
      margin-top: 16px;
      display: block;
    }
  }
}
.catalogFilters3 {
  .fs_28 {
    line-height: normal;
  }
  padding-bottom: 100px;
  padding-top: 80px;
  .tabs{
    margin-bottom: 18px;
    &__caption {
      border-radius: 6px;
      
      list-style-type: none;
      display: flex;
      width: fit-content;
      margin-bottom: 20px;
      li {

        padding: 10px 16px;
        font-size: 14px;
        border: 1px solid #DDDDDD;
        border-right: none;
        background: #fff;
        cursor: pointer;
        &:last-child {
          border-radius: 0 6px 6px 0;
          border-right: 1px solid #DDDDDD;
        }
        &:first-child {
          border-radius: 6px 0 0 6px;
        }
        &.active {
          background: #E9F0FC;
          border: 1px solid #2764E0;
          
        }
      }
    }
  }
  .tabs__content {
    display: none; 
    height: 100px;
  }
  .tabs__content.active {
    display: block; 
  }
}
.showFilters {
  .wrapper_start {
    align-items: flex-end;
  }
}
.table {
  padding-bottom: 80px;
  &__filters {
    margin: 24px 0 12px;
    padding: 13px 0;
    border-bottom: 1px solid #F2F2F4;
  }
  &__filter {
    &__img {
      width: 12px;
      display: flex;
      flex-direction: column;
      gap: 3px;
      margin-left: 8px;
      margin-top: 3px;
      span {
        display: block;
        height: 1px;
        background: $text-color;
        &:nth-child(1) {
          width: 100%;
        }
        &:nth-child(2) {
          width: 60%;
        }
        &:nth-child(3) {
          width: 20%;
        }
      }
    }
  }
  
  .btn_small {
    color: #fff;
    background: $blue;
    text-decoration: none;
    &:hover {
      background: #3473F4;
    }
    &:active {
      background: #104CC4;
    }
  }
  .btn_gray {
    background: #DDDDDD;
    padding: 2px 10px 3px;
    line-height: normal;
    margin-left: 8px;
    border-radius: 5px;
  }
 
  &__note {
    position: absolute;
    width: 0px;
    height: 0px;
    background: #FFFFFF;
    box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.12);
    border-radius: 12px;
    padding: 0 24px 18px;
    left: 14px;
    z-index: 11;
    opacity: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;

    transition: all .3s;
    .wrapper_start {
      margin-bottom: 9px;
      p {
        &:nth-child(1) {
          width: 142px;
        }
      }
    }
    
    &__header {
      padding: 12px 24px 10px 0;
      border-bottom: 1px solid #F2F2F4;
      margin-bottom: 12px;
      align-items: center;
      letter-spacing: 0.05em;
      svg {
        margin-right: 8px;
      }
    }
  }
  
  .btn_transparent {
    opacity: 0;
    cursor: auto;
  }
  &__showMore, &__hide {
    border-bottom: 1px solid #F2F2F4;
    padding-bottom: 16px;
    
  }
  &__hide {
    img {
      transform: rotate(180deg);
    }
  }
  .hide {
    display: none;
    
  }
  .heightAuto {
    height: auto;
  }
  
  
  
}
//table
.catalogFilters {
 
    &__table {
      display: grid;
      border-collapse: collapse;
      min-width: 100%;
      overflow-x: scroll;
      overflow-y: hidden;
      margin-bottom: 48px;
      grid-template-columns: 
          minmax(min-content, 10fr)
          minmax(min-content, 6fr)
          minmax(min-content, 8fr)
          minmax(min-content, 10fr)
          minmax(min-content, 6fr)
          minmax(min-content, 2fr)
          minmax(min-content, 7fr)
          minmax(min-content, 8fr)
          minmax(min-content, 17fr)   
          minmax(min-content, 11fr)
          minmax(min-content, 7fr)
          minmax(min-content, 6fr);
         
          &::-webkit-scrollbar {
            height: 4px;
            width: 4px;
          }
        &::-webkit-scrollbar-track {
            background: #F2F2F4;
          }
        &::-webkit-scrollbar-thumb {
            background-color: #aaaaaa;
            border-radius: 5px;
          }
          scrollbar-width: thin;          /* "auto" или "thin"  */
          scrollbar-color: #aaaaaa #F2F2F4;
      thead,
      tbody,
      tr {
          display: contents;
         
          
        }
      tr {
        &:nth-child(odd):not(.table__item_spec) td {
          background-color: #F8F8F8;
          }
        
      }
      tr {
        &:nth-last-child(1), &:nth-last-child(2), &:nth-last-child(3), &:nth-last-child(4), &:nth-last-child(5), &:nth-last-child(6) {
          .table__note {
            bottom: 10px;
            left: 23px;
          }
        }
      }
        tr:hover td {
          &:first-child {
            position: relative;
            &::before {
              content: '';
              position: absolute;
              height: 100%;
              width: 2px;
              background-color: $blue;
              left: 0;
              top: 0;

            }
          }
        }
      .table__item_spec {
        td {
            background-color: #FFF5E1;
            border-top: 1px solid #20960D;
            height: 67px;
            font-weight: 600;
            padding-top: 21px;
            padding-bottom: 21px;
            &:first-child {
              position: relative;
              &::after {
                content: 'Спецпредложение';
                position: absolute;
                top: 0;
                left: 0;
                background: url(../img/catalog/table_item_spec_bg.png) no-repeat center/contain;
                color: #FFF;
                width: 147px;
                height: 21px;
                
                font-size: 12px;
               
                font-weight: 400;
                line-height: 14px;
              }
            }
          }
      }
      th,
      td {
          padding: 10px 5px;
          height: 45px;
          white-space: nowrap;
          border-bottom: 1px solid #DFE2E6;
          font-size: 14px;
          line-height: normal;
        }
        th {
                 
          text-align: left;
          font-weight: normal;
          font-size: 13px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }

        .catalogFilters__info {
          &-item {
            position: relative;
            
          }
          width: 18px;
          height: 18px;
          border-radius: 100%;
          background-color: transparent;
          border: 2px solid $blue;
          background-image: url(../img/info.svg);
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
         cursor: pointer;
         transition: background-color .3s;
          &:hover {
            background-color: $blue;
            background-image: url(../img/info_hover.svg);

          }
        }
        .catalogFilters__info:hover + .table__note {
          width: 357px;
          height: 263px;
          opacity: 1;
          display: block;
          clip: inherit;
          
        }
        .filter-arrows {
          width: 12px;
          height: 5px;
          display: inline-block;
          border: none;
          cursor: pointer;
          vertical-align: middle;
          background: url(../img/filter_arrows.svg) no-repeat center/contain;
        }
        // .table__metallobaza:hover span {
        //   display: none;
        // }
        .table {
          &__metallobaza {
            color: $link;
            .table__btns {
              width: 0;
              height: 0;
              opacity: 0;
              transition: all .3s;
            }
            &:hover .table__btns {
              width: auto;
              height: auto;
              opacity: 1;
            }
            &:hover span {
              display: none;
            }
          }
        }
        &__banner {
          position: relative;
         
          td {
            height: 208px;
            &::before {
              display: none;
            }
          }
          a {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-40%, -50%);
          }
        }
    }
  &__info__th {
    background: url(../img/info-icon.svg) no-repeat center/contain;
    width: 18px;
    height: 18px;
  }
}
