.companyPromo {
    background: #E9F0FC;
    
    position: relative;
    &__content {
        width: 70%;
        max-width: 699px;
        margin: 129px 0 182px;
    }
    &__h {
        font-weight: 600;
        font-size: 60px;
        line-height: 60px;
        margin-bottom: 36px;
        span {
            background: $blue;
            color: #fff;
            border-radius: 30px;
            padding: 0 17px;
            display: inline-block;
            height: 65px;
        }
    }
    &__img {
        width: 48%;
        position: absolute;
        right: 156px;
        bottom: 0;
        margin-bottom: -6px;

    }
}
.companyAbout {
    padding: 80px 0 100px;
    &__item {
        width: 33%;
        &__img {
            width: 100%;
            max-width: 383px;
            height: 210px;
            background: #F1F5F8;
            border-radius: 12px;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                margin-top: 14px;
                max-width: 80%;
                max-height: 100%;
            }
        }
        
    }
    &__wrapper {
        align-items: flex-start;
        justify-content: flex-start;
        column-gap: 28px;
    }
}
.companyMission {
    background-color: #171C41;
    background-image: url(../img/company/company-mission-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right bottom;
    border-radius: 30px;
    position: relative;
    margin: 0 24px;
    overflow: hidden;
    &__content {
        width: 70%;
        max-width: 662px;
        color: #fff;
        padding: 154px 0 189px;
        position: relative;
        z-index: 2;
    }
   
}
.companyHistory {
    padding: 80px 0 115px;
    &__bottom {
        margin-left: -34px;
    }
    &__item {
        padding: 38px 65px 64px 26px;
        border-top: 1px dashed #212529;
        border-bottom: 1px dashed #212529;
        position: relative;
        
        &:last-child {
            border-radius: 0 30px 30px 0;
            border-right: 1px dashed #212529;
        }
        &:first-child {
            border-bottom: none;
            padding-left: 0;
            
        }
        &:before {
            content: '';
            position: absolute;
            min-width: 30px;
            min-height: 30px;
            width: 3px;
            height: 30px;
            border-radius: 100%;
            border: 1px solid $text-color;
            background: #fff;
            top: -18px;
        }
        &_bottom {
            position: relative;
            padding: 64px 65px 38px 26px;
            border-bottom: 1px dashed #212529;
            &:first-child {
                border-radius: 30px 0 0 30px;
                border-left: 1px dashed #212529;
                border-top: 1px dashed #212529;
                padding-left: 34px;
            }
           
            &:before {
                content: '';
                position: absolute;
                min-width: 30px;
                min-height: 30px;
                width: 3px;
                height: 30px;
                border-radius: 100%;
                border: 1px solid $text-color;
                background: #fff;
                bottom: -18px;
            }
            &:last-child {
                &:after {
                    content: '';
                    position: absolute;
                    bottom: -7px;
                    right: -3px;
                    width: 14px;
                    height: 14px;
                    z-index: 10;
                    background: url(../img/company/arrow.svg) no-repeat center;
                    
                }
                

            }

        }
    }
}
.companyPrise {
    &__img {
        
        img {
            width: 93%;
            border-radius: 12px;
            box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
        }
    }
    .slick-arrow {
        position: absolute;
        top: -80px;
        right: 0;
        width: 48px;
        height: 48px;
        border: none;
        border-radius: 100%;
        background: #FFFFFF;
        box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.12);
        cursor: pointer;
        transition: all .3s;
        &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;

        }
        &:hover {
           background: $blue;
           img {
            opacity: 0;
            }
        }
    }
    .slick-prev {
        right: 64px;
        z-index: 10;
        &:hover {
            &:before {
                background: url('../img/advertaisers/rew_arrow2.svg') no-repeat center;
            }
        }
        
    }
    .slick-next {
        &:hover {
            &:before {
                background: url('../img/advertaisers/rew_arrow.svg') no-repeat center;
            }
        }
        
    }
}
.companySupport {
    padding: 100px 0 50px;
    &__item {
        width: 32%;
        height: 146px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #F1F5F8;
        border-radius: 12px;
        padding: 30px;
        margin-bottom: 32px;
        img {
            max-width: 100%;
        }
    }
}
.companyParty {
    padding: 18px 0 120px;
    &__wrapper {
        align-items: flex-start;
        justify-content: flex-start;
    column-gap: 30px;
    }
    &__item {
        width: 33%;
        &__img {
            max-width: 382px;
            height: 216px;
            border-radius: 12px;
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    .btn_transparent {
        width: 100%;
    }
}