.directory {
    padding: 51px 0 153px;
    &__promo {
        padding: 13px 0 0 56px;
        border-radius: 15px;
        background: #F1F5F8;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        overflow: hidden;
        margin-bottom: 34px;
    }
    &__img {
        height: 239px;
        width: 80%;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: right bottom;
            display: block;
        }
    }
    &__content {
        padding: 57px 0 86px;
        max-width: 318px;
        .fs_28 {
            margin: 0;
        }
    }
    &__subtitle {
        font-size: 16px;
        margin-top: 12px;
        line-height: 25px;
    }
    // .product__item:hover > img {
    //     mask: linear-gradient(rgba(43, 110, 199, 0.5), rgba(34, 200, 56, .7));
    // }
    .catalog__search__input {
        font-size: 15px;
        
    }
    &__product {
       
        gap: 8px;
        margin-top: 26px;
        &::-webkit-scrollbar {
            height: 4px;
            
          }
        &::-webkit-scrollbar-track {
            background: transparent;
          }
        &::-webkit-scrollbar-thumb {
            background-color: #B7B7B7;
            border-radius: 3px;
          }
        .product__item {
            min-width: 154px;
            min-height: 172px;
            background: #F1F5F8;
            margin: 0;
            box-shadow: none;
            transition: all .3s;
            img {
                filter: grayscale(.7);
            }
            &:hover img {
                filter: grayscale(0);
            }
        }
    }
    &__link {
        display: flex;
        justify-content: flex-start;
        gap: 48px;
        text-decoration: none;
        color: $text-color;
        border-bottom: 1px solid #F2F2F4;
        padding: 16px 0;
    }
    // .catalog__search__btn {
    //     width: 36px;
    //     height: 36px;
    //     border-radius: 36px;
    //     background: #F2F2F4;
    // }
    &__datalist {
        width: 100%;
        position: absolute;
        border-radius: 12px;
        background: #FFF;
        box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.10);
        padding: 12px 0 35px;
        display: none;
        z-index: 110;
        &__link {
            border-bottom: none;
            padding: 16px 23px;
            align-items: center;
            transition: background-color .3s;
           &:hover {
            background-color: #F2F2F4;
            cursor: pointer;
           }
            &::before {
                content: '';
                width: 11px;
                height: 11px;
                background: url(../img/catalog/search_img.svg) no-repeat center/contain;
            }
        }
    }
}
.pdf {
    display: inline-block;
    text-align: center;
    padding-top: 2px;
    color: #EC2C2C;
font-size: 14px;
border-radius: 4px;
width: 35px;
height: 21px;
background: rgba(93%, 17%, 17%, .1);
margin-left: 17px;
line-height: normal;
}
.directory2 {
    padding-top: 41px;
    padding-bottom: 224px;
    .catalog__search {
        margin-bottom: 44px;
    }
}
#directorysearch {
    display: none;
}