.error {
    padding: 75px 0 100px;
    background: url('../img/error_bg.png') no-repeat top center;
    background-size: cover;
    .popular {
        margin-top: 146px;
        padding-top: 0;
    }
    &__img {
        margin: 0 auto;
        width: 287px;
        height: 236px;
        margin-bottom: 30px;
        img {
            width: 100%;
        };
    }
    .btn {
        margin: 0 auto;
    }
    
}