.forproviders {
    &__promo {
        border-radius: 15px;
        margin: 0 16px;
        min-height: 565px;
        padding: 72px 0 63px;
        color: #fff;
        background-color: $blue;
        background-image: url(../img/forproviders/forproviders-promo.png);
        background-image: image-set(
            url(../img/forproviders/forproviders-promo.webp) type('image/webp') 1x,
            url(../img/forproviders/forproviders-promo-2x.webp) type('image/webp') 2x,
            url(../img/forproviders/forproviders-promo.png) type('image/png') 1x,
            url(../img/forproviders/forproviders-promo-2x.png) type('image/png') 2x,
            
        );
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right center;
        &__content {
            max-width: 421px;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
       .btn {
        min-width: 166px;
        }
    }
    &__expo {
        margin-top: 150px;
        display: flex;
        justify-content: flex-start;
        gap: 34px;
    }
    &__title {
        color: #FFF;

        font-size: 36px;
        font-style: normal;
        font-weight: 600;
        line-height: 122%;
        margin-bottom: 16px;
    }
    &__wins {
        .wrapper_start {
            column-gap: 26px;
            row-gap: 62px;
        }
        padding: 80px 0;
        &__item {
            width: 48%;
        }
        .title_36 {
            max-width: 705px;
            margin-bottom: 60px;
        }
        .fs_18:not(.center) {
            max-width: 347px;
        }
        &__img {
            margin-bottom: 20px;
            width: 60px;
            height: 60px;
            img {
                display: block;
                width: 100%;
            }
        }
        &__stat {
            border-radius: 15px;
            box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.12);
            margin-left: 43px;
            min-width: 418px;
            max-width: 418px;
            img {
                display: block;
                width: 100%;
                object-fit: contain;
            }
        }
        .blue {
            display: block;
            margin: 0 auto;
            line-height: 156%;
            text-align: center;
            width: fit-content;
        }
    }
    &__stat {
        padding-bottom: 80px;
        .blue {
            display: block;
            margin: 0 auto 32px;
            line-height: 156%;
            text-align: center;
            width: fit-content;
        }
        &__img {
            width: 100%;
            img {
                max-width: 100%;
                display: block;
                margin: 0 auto;
            }
        }
        .center {
            max-width: 800px;
        }
    }
    &__dop {
        padding-bottom: 80px;
        &__wrapper {
            display: flex;
            justify-content: space-between;
            gap: 24px;
            flex-wrap: wrap;
        }
        &__item {
            border-radius: 12px;
            background: #FFF;
            padding: 32px 24px 24px;
            box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.12);
            width: 33%;
            max-width: 304px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            min-height: 169px;
            p {
                max-width: 85%;
            }
        }
    }
    &__soc {
        padding-bottom: 80px;
        .advInfo {
            &__wrapper {
            position: relative;
            margin-top: 80px;
            column-gap:50px;
            }
            &__graphList {
                max-width: 46%;
                margin-top: 0;
                margin-right: 23px;
                &__img {
                    position: relative;
                    margin: auto;
                    left: auto;
                    top: auto;
                }
            }
            &__content {
                margin-top: 0;
            }
        }
        &__img {
            width: 100%;
            img {
                width: 100%;
            }
        }
    }
    
    &__cases {
        padding-top: 5px;
        &__case {
            
            border-radius: 15px;
            background: #FFF;
            box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.12);
            padding: 50px 48px 57px;

        }
        &__logo {
            margin-bottom: 73px;
            width: 234px;
            img {
                max-width: 100%;
            }
        }
        &__photo {
            margin-bottom: 32px;
            border-radius: 100%;
            width: 110px;
            height: 110px;
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &__content {
            margin-left: 80px;
            margin-top: 42px;
            max-width: 664px;
        }
        .slick-slide {
            .wrapper_start {
                margin: 32px 20px;
            }
        }
        .slick-arrow {
            position: absolute;
            bottom: 64px;
            right: 53%;
            width: 48px;
            height: 48px;
            border: none;
            border-radius: 100%;
            background-color: #FFFFFF;
            box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.12);
            cursor: pointer;
            transition: all .3s;
            &:before {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
    
            }
            &:hover {
               background-color: $blue;
               img {
                opacity: 0;
                }
            }
        }
        .slick-prev {
            right: calc(53% + 64px);
            z-index: 10;
            &:hover {
                &:before {
                    background: url('../img/advertaisers/rew_arrow2.svg') no-repeat center;
                }
            }
            
        }
        .slick-next {
            &:hover {
                &:before {
                    background: url('../img/advertaisers/rew_arrow.svg') no-repeat center;
                }
            }
            
        }
        .slick-dots {
            list-style-type: none;
            display: flex;
            justify-content: center;
            gap: 8px;
            color: transparent;
            font-size: 1px;
            button {
                width: 12px;
                height: 12px;
                border-radius: 100%;
                background-color: #ddd;
                transition: background-color .3s;
            }
            .slick-active {
                button {
                    background-color: $blue;
                }
            }
        }
    }
    &__details {
        padding-top: 88px;
        padding-bottom: 80px;
        &__wrapper {
            margin-top: 60px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 60px 37px;
           margin-bottom: 100px;

        }
        &__item {
            max-width: 442px;
            &__num {
                width: 60px;
                height: 60px;
                margin-bottom: 20px;
                img {
                    width: 100%;
                    object-fit: contain;
                    display: block;
                }
            }
        }
        &__tarif {
            display: flex;
            justify-content: space-between;
            gap: 24px;
            margin-top: 32px;
            &-item {
                border-radius: 12px;
                background: #FFF;
                padding: 5px;
                box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.12);
                width: 33%;
                position: relative;
                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 0%;
                    height: 0%;
                    background: linear-gradient(#2F61DB, #CC1166);
                    border-radius: 12px;
                    top: 0;
                    left: 0;
                    
                    transition: all .2s;
                    
                }
                label {
                    cursor: pointer;
                    border-radius: 12px;
                    display: block;
                    position: relative;
                    padding: 36px 24px 32px;
                    background-color: #fff;
                    .wrapper_start {
                        gap: 12px;
                        align-items: center;
                        margin-bottom: 54px;
                    }
                    .blue {
                        display: none;
                    }
                   
                }
                &.active {
                    &::before {
                        height: 100%;
                        width: 100%;
                    }
                   
                }
            }
            &-mark {
                width: 24px;
                height: 24px;
                border-radius: 100%;
                border: 1px solid #ddd;
                position: relative;
                transition: background-color .3s;
            }
            
            input[type=radio] {
                width: 1px;
                height: 1px;
                opacity: 0;
                clip: rect(0, 0, 0, 0);
                position: absolute;
                margin: -1px;
            }
           
            input[type=radio]:checked + .forproviders__details__tarif-mark {
                background-color: $blue;
                border: none;
                &::before {
                    content: '';
                    position: absolute;
                    display: block;
                    border-radius: 100%;
                    background-color: #fff;
                    width: 30%;
                    height: 30%;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
            input[type=radio]:checked ~ .fs_14 {
                display: none;
            }
            input[type=radio]:checked ~ .blue {
                display: block;
            }
            input[type=radio]:checked ~ .border {
                border-image: linear-gradient(#0B0E7F , #0B95DD);
                border-image-slice: 1;
            }
            &-divider {
                width: 100%;
                height: 1px;
                background: #F2F2F4;
                margin: 24px 0;
                
            }
           
        }
        &__choise {
            border-radius: 12px;
            background: #FFF;
            box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.12);
            margin-top: 30px;
            padding: 20px 42px 34px 32px;
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            gap: 25px;
            .btn {
                width: 312px;
               height: 50px;
            }
        }
        &__order {
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            border: none;
            max-width: 131px;
            resize: none;
            
        }
        &__cost {
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            border: none;
            width: fit-content;
            
            max-width: 140px;
        }
        &__old-price {
            color: #6C757D;
            max-width: 140px;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 25px; /* 178.571% */
            text-decoration:line-through;
        }
    }
    &__questions {
        padding-bottom: 55px;
    }
}