.forproviders {
    &__promo {
        min-height: 565px;
        padding: 72px 0 80px;
        color: #fff;
        background-color: $blue;
        background-image: url(../img/forproviders/forproviders-promo.png);
        background-image: image-set(
            url(../img/forproviders/forproviders-promo.webp) type('image/webp') 1x,
            url(../img/forproviders/forproviders-promo-2x.webp) type('image/webp') 2x,
            url(../img/forproviders/forproviders-promo.png) type('image/png') 1x,
            url(../img/forproviders/forproviders-promo-2x.png) type('image/png') 2x,
            
        );
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right center;
        &__content {
            max-width: 421px;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
       
    }
    &__expo {
        margin-top: 150px;
        display: flex;
        justify-content: flex-start;
        gap: 34px;
    }
    &__title {
        color: #FFF;

        font-size: 36px;
        font-style: normal;
        font-weight: 600;
        line-height: 122%;
        margin-bottom: 16px;
    }
    &__wins {
        .wrapper_start {
            column-gap: 26px;
            row-gap: 62px;
        }
        padding: 80px 0;
        &__item {
            width: 48%;
        }
        .title_36 {
            max-width: 705px;
            margin-bottom: 60px;
        }
        &__img {
            margin-bottom: 20px;
            width: 60px;
            height: 60px;
            img {
                display: block;
                width: 100%;
            }
        }
    }
}