.back a {
    text-decoration: none;
}
.help {
    details[open] > summary::after {
        display: none;
       
    }
    padding: 13px 0 120px;
    &__subtitle {
        text-align: center;
        font-size: 18px;
        line-height: 25px;
        
        max-width: 630px;
        margin: 0 auto 40px;
    }
    .help__item {
        width: 49%;
        height: auto;
        min-height: 270px;
        max-width: 464px;
        
        margin-bottom: 0;
        padding: 32px 32px 40px;
        display: flex;
        flex-direction: column;
       .fs_16 {
        flex-grow: 1;
       }
        &:nth-child(1) {
            margin: 0;
            color: #fff;
            padding-left: 40px;
            .btn {
                background: #FFF;
                color: $blue;
            }
        }
        &:nth-child(2) {
            background:#E9F0FC;
            
        }
        .fs_16 {
            max-width: 293px;
            
        }
        .btn {
            display: block;
            margin-bottom: auto;
            width: 145px;
            height: 44px;
            text-align: center;
        }
    }
    .help__img {
        right: 28px;
        max-width: 200px;
        img {
            width: 100%;
        }
    }
    &__contact {
        width: 32%;
        max-width: 310px;
        border-radius: 12px;
        background: #FFF;
        box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.12);
        padding: 22px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 292px;
        &__img {
            width: 64px;
            height: 64px;
            border-radius: 100%;
            background: #E9F0FC;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 16px;
            img {
                max-width: 100%;
            }
        }
        
    }
    .about__question {
        padding: 24px 0;
        margin: 0;
        .fs_18 {
            padding-top: 24px;
        }
    }
    .about__summary {
        font-size: 20px;
        margin-bottom: 0;
        &__span {
            max-width: 678px;
        }
    }
    &__questions {
        margin-bottom: 40px;
    }
    &Providers {
        
        padding: 11px 0 120px;
        &__promo {
            &_mobile {
                display: none;
            }
            margin-top: 40px;
            margin-bottom: 64px;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            padding: 51px 64px 37px;
            border-radius: 15px;
            background: #E9F0FC;
            .title_36 {
                margin: 0 0 16px;
                font-weight: 600;
            }
        }
        &__content {
            max-width: 416px;
            margin-top: 15px;
        }
        &__questions {
            margin-bottom: 66px;
            .btn_transparent {
                margin-top: 24px;
            }
        }
        &__question {
            position: relative;
            font-size: 20px;
            padding: 24px 0 24px;
            font-weight: 600;
            width: 100%; 
            padding-right: 12px;
            display: block;
            color: $text-color;
            text-decoration: none;
            border-bottom: 1px solid #F2F2F4;
            line-height: normal;
            &::after {
                content: '';
                position: absolute;
                right: 11px;
                top: 50%;
                transform: translateY(-50%);
                width: 8px;
                height: 16px;
                background: url(../img/next.svg) no-repeat center;
            }
            &:hover {
                opacity: .8;
                cursor: pointer;
            }
            &:last-child {
                border-bottom: none;
                
            }
            
        }
    } 
    &Article {
        padding: 16px 0 120px;
        &__article {
            max-width: 712px;
           
        }
        &__tag {
            padding: 9px 16px;
            border-radius: 6px;
            background: #E9F0FC;
            margin-right: 16px;
            margin-top: 40px;
            font-size: 14px;
            line-height: normal;
            width: fit-content;
        }
        &__img {
            padding-top: 71px;
            text-align: center;
            margin: 64px 0 64px;
            width: 100%;
            border-radius: 12px;
            background: #E9F0FC;
            img {
                display: block;
                margin: 0 auto;
                max-width: 100%;
            }
        }
        &__quest {
            border-radius: 12px;
            background: #E9F0FC;
            padding: 32px;
            margin: 64px 0 120px;
            .btn {
                font-size: 14px;
                font-weight: 400;
                height: 38px;
                &:nth-child(2) {
                    background: #fff;
                    color: $blue;
                    margin-left: 16px;
                }
            }
        }
        .helpProviders__question {
            &::after {
                right: 0;
            }
        }
    }
}
