.promo {
    &__wrapper {
        height: 400px;
        padding: 0 160px;
    }
    &__content  {
       padding-top: 90px;
        height: 100%;
    }
    &__title {
        font-weight: 600;
        font-size: 36px;
        line-height: 122%;
        width: 412px;
        margin: 0;
    }
    &__slider {
        background: #DFECF5;
        height: 400px;
        
    }
    &__text {
        margin: 16px 0 30px;

    }
    &__btn {
        padding: 12px 32px;
    }
    &__img {
        width: 656px;
        min-width: 656px;
        img {
            width: 100%;
        }
    }
    &__wrapper {
        align-items: flex-end;
    }
    .slick-arrow {
        width: 48px;
        height: 48px;
        border-radius: 100%;
        border: none;
        outline: none;
        background: #FFFFFF;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 3;
        cursor: pointer;
    }
    .slick-next {
        right: 32px;
    }
    .slick-prev {
        left: 32px;
    }
    .slick-dots {
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 50%;
        bottom: 24px;
        
            button {
                color: transparent;
                list-style-type: none;
                background: #FFFFFF;
                opacity: 0.3;
                width: 8px;
                height: 8px;
                border-radius: 100%;
                margin: 5px;
                border: none;
            }
        
    } 
    .slick-active {
        button {
            opacity: 1;
        }
    } 
}
.popular {
    &__slider {
        width: 95%;
    }
    padding-top: 40px;
    .slick-arrow {
        width: 48px;
        height: 48px;
        border-radius: 100%;
        border: none;
        outline: none;
        background: #F2F2F4;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 3;
        cursor: pointer;
    }
    .slick-next {
        right: -60px;
    }
    .slick-prev {
        opacity: 0;
    }
   
   
}

.choise {
    padding: 0 0 60px;
    &__wrapper {
        background: #FFFFFF;
        box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.12);
        border-radius: 15px;
        padding: 60px 60px 60px 60px;
        gap: 74px;
    }
    &__link {
        display: block;
        text-decoration: none;
        color: $text-color;
        margin-bottom: 24px;
        &:hover {
            color: $blue;
            transition: all .3s;
        }
    }
    &__item {
        align-self: flex-start;
    }
    &__content {
        border-right: 1px solid #F2F2F4;
        height: 360px;
        width: 346px;
        padding-right: 60px;
    }
    &__subtitle {
        margin: 12px 0 32px;
        line-height: 180%;
    }
    &__form {
        width: 286px;
    }
    &__btn {
        width: 100%;
    }
    &__links {
        flex-grow: 1;
    }
}

.spec {
    padding-bottom: 60px;
    &__item {
        position: relative;
        background: #EFF2F6;
        border-radius: 12px;
        padding: 18px 24px;
        flex-grow: 1;
        max-width: 464px;
        min-width: 332px;
        height: 160px;
        overflow: hidden;
    }
    &__content {
        width: 52%;
    }
    &__wrapper {
        gap: 32px;
        margin-top: 32px;
       overflow-x: scroll;
    }
    &__img {
        position: absolute;
        right: 0;
        top: 0;
    }
    &__oldPrice {
        text-decoration: line-through;
        margin: 7px 0 6px;
    }
    &__newPrice {
        background: #DD0858;
        width: fit-content;
        padding: 4px 6px;
        color: #FFFFFF;
    }
}

.providers {
    padding-bottom: 120px;
    &__wrapper {
        gap: 32px;
        margin-top: 32px;
        overflow: auto;
        &::-webkit-scrollbar {
            height: 4px;
            
          }
        &::-webkit-scrollbar-track {
            background: #F2F2F4;
          }
        &::-webkit-scrollbar-thumb {
            background-color: #aaaaaa;
            border-radius: 5px;
          }
    }
    &__item {
        text-align: center;
    }
    &__logo {
        width: 216px;
        height: 216px;
        border-radius: 100%;
        border: 1px solid #F2F2F4;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 16px;
        background: #fff;
        img {
            max-width: 100%;
        }
    }
}
.about {
    &__content {
        width: 470px;
        .fs_18 {
            margin: 24px 0;
        }
    }
    &__info {
        width: 50%;
        background: radial-gradient(circle at center,  #F5F5F5 0%,#F5F5F5 55%, #fff 55%);
        padding: 52px;
    }
    
    &__stick{
        background: #FFFFFF;
        box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
        border-radius: 15px;
        width: 415px;
        height: 108px;
        padding: 24px 24px 31px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 12px;

        .btn {
            padding: 3px 10px;
            margin-top: 8px;
        }
        &:nth-child(2) {
            margin-left: 30px;
        }
        &:nth-child(3) {
            margin-left: 60px;
        }
    }
    &__raiting {
        background: #FFFFFF;
        box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
        border-radius: 15px;
        padding: 28px 30px 42px;
        width: 415px;
        height: 302px;
        position: relative;
        z-index: 1;
        &__item {
            margin-bottom: 22px;
        }
        &__line {
            margin-top: 10px;
            height: 5px;
            width: 100%;
            background: #F2F2F4;
            position: relative;
            span {
                position: absolute;
                top: 0;
                left: 0;
                
                background: $blue;
                height: 5px;
                border-radius: 3px;
            }
        }
        &_hidden {
            z-index: 0;
            margin: -150px 0 0 124px;
        }
        
    }
    &__wrapper {
        margin-bottom: 70px;
        margin-top: 32px;
    }
    .center {
        margin: 24px auto 24px;
        max-width: 772px;
    }
    &__item {
        background: #EFF2F7;
        border-radius: 12px;
        width: 385px;
        height: 146px;
        padding: 32px 60px 32px 30px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 24px;
        transition: all .3s;
        &:hover {
            box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.12);
            background: #fff;
            cursor: pointer;
        }
    }
    &__img {
        margin-right: 35px;
        width: 82px;
        height: 82px;
        min-width: 82px;
        border-radius: 100%;
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.12);
    }
    &__block {
        background: #EFF2F7;
        border-radius: 12px;
        min-width: 583px;
        padding: 40px 57px 0px;
        display: flex;
        flex-direction: column;
        
        align-items: center;
        gap: 16px;
        &__img {
            margin-bottom: -3px;
        }
    }
    &__soc {
        width: 224px;
        min-width: 224px;
        margin: 24px auto 24px;
        &__item {
            width: 44px;
            height: 44px;
            border-radius: 100%;
            border: 1px solid #e5e5e5;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    &__link {
        margin-bottom: 80px;
    }
    &__question {
        margin: 32px 0;
        border-bottom: 1px solid #F2F2F4;
        
    }
    summary {
        display: block;
        transition: all .2s;
      }
    &__summary {
        list-style: none;
        position: relative;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 24px;
        cursor: pointer;
        &::after {
            position: absolute;
            content: '';
            width: 2px;
            height: 26px;
            background: #212529;
            right: 13px;
            top: 0;
            
        }
        &::before {
            position: absolute;
            content: '';
            width: 26px;
            height: 2px;
            background: #212529;
            right: 0;
            top: 13px;
           
        }
        &:hover {
            color: $blue;

        }
        &:hover::after {
            background: $blue;
        }
        &:hover::before {
            background: $blue;
        }
    }

    details[open] > summary::after {
        display: none;
       
    }
    &__person {
        background: #DFECF5;
        border-radius: 15px;
        padding: 114px 80px;
        position: relative;
        margin: 80px 0 100px;
        &__content {
            max-width: 40%;
            display: flex;
            flex-direction: column;
            gap: 40px;
        }
        &__img {
            position: absolute;
            right: 100px;
            bottom: -4px;
        }
    }
}



