.promo {
    &__wrapper {
        height: 400px;
    }
    &__content  {
        margin: auto 0 auto 160px;
        height: 100%;
    }
    &__title {
        font-weight: 600;
        font-size: 36px;
        line-height: 122%;
        width: 412px;
    }
    &__slider {
        background: #DFECF5;
        height: 400px;
        
    }
    &__text {
        margin: 16px 0 30px;

    }
    &__btn {
        padding: 12px 32px;
    }
    &__img {
        width: 656px;
        img {
            width: 100%;
        }
    }
    &__wrapper {
        align-items: flex-end;
    }
    .slick-arrow {
        width: 48px;
        height: 48px;
        border-radius: 100%;
        border: none;
        outline: none;
        background: #FFFFFF;
        position: absolute;
        top: 50%;
        z-index: 3;
    }
    .slick-next {
        right: 32px;
    }
    .slick-prev {
        left: 32px;
    }
    .slick-dots {
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 50%;
        bottom: 24px;
        
            button {
                color: transparent;
                list-style-type: none;
                background: #FFFFFF;
                opacity: 0.3;
                width: 8px;
                height: 8px;
                border-radius: 100%;
                margin: 5px;
                border: none;
            }
        
    }
    .slick-active {
        button {
            opacity: 1;
        }
    } 
}
.popular {
    padding-top: 40px;
    &__slider {
        margin-top: 32px;
    }
}



