.marochnik {
    padding: 40px 0 558px;
    h1 {
        font-weight: 600;
    }
    .back {
        margin-top: 0;
        text-align: left;
    }
    .catalog__search__btn {
        width: 36px;
        height: 36px;
        border-radius: 36px;
        background: #F2F2F4;
    }
    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 20px 16px;
        margin-bottom: 80px;
    }
    &__item {
        display: block;
        width: 228px;
        height: 84px;
        border-radius: 8px;
        background: #E9F0FC;
        color: #222;
        font-size: 14px;
        padding: 12px 16px;
        text-decoration: none;
        transition: all .3s;
        line-height: 131%;
        &:hover {
            color: $blue;
        }
    }
    .catalog__search__input::placeholder {
        color: #9295AE;
    }
    .catalog__search {
        margin-bottom: 43px;
    }
    .gray {
        text-decoration: none;
    }
    //марочник2
    &2 {
        padding-bottom: 516px;
        .marochnik__list {
            margin-bottom: 71px;
        }
    }
   
    &__th {
        display: grid;
    grid-template-columns: 119px 143px 1fr;
    gap: 0 47px;
    font-weight: 600;
    border-bottom: 1px solid #f2f2f4;
    padding-bottom: 20px;
    margin-top: 40px;
    }
    &__link {
        display: grid;
        grid-template-columns: 121px 139px 1fr;
        height: 53px;
        gap: 0 47px;
        align-items: center;
        padding: 13px 0;
        border-bottom: 1px solid #F2F2F4;
        color: $text-color;
        text-decoration: none;
        font-size: 16px;
        line-height: normal;
        &__abbr {
            display: flex;
            justify-content: flex-start;
            border-radius: 6px;
            border: 1px solid #8EB1ED;
            background: #FFF;
            font-size: 14px;
            overflow: hidden;
            color: $text-color;
            text-decoration: none;
            width: 121px;
            height: 26px;
            &_blue {
               background: #E9F0FC;
               width: 40px;
                height: 26px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-right: 1px solid #8EB1ED;
            }
            &_transparent {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 4px 7px;
            }
        }
        &__marka {
            font-weight: 600;
        }
    }
    //марочник 3 часть
    &3 {
        padding-bottom: 70px;
        .marochnik__th {
            margin-top: 32px;
        }
    }
    &__component {
        margin-top: 25px;
        border-radius: 12px;
        background: #E9F0FC;
        width: 262px;
        height: 147px;
        padding: 23px 36px 20px;
        margin-right: 40px;
    }
    &__wrapper {
        &_start {
            align-items: center;
            margin-bottom: 48px;
        }
    }
    &__name {
        border-bottom: 1px solid #F2F2F4;
        padding: 16px 0;
        gap: 38px;
        .gray {
            width: 115px;
        }
    }
    .article__table__name {
        font-size: 14px;
        line-height: normal;
        height: 59px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .article__table__value {
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 66px;
        font-size: 14px; 
    }
    &__block {
        margin-bottom: 48px;
        &_mb67 {
            margin-bottom: 67px;
        }
        .btn_small {
            background: $blue;
            color: #fff;
            padding: 2px 15px 3px;
        }
        .wrapper_start {
            gap: 12px;
        }
    }
    &__th {
        &_mt34 {
            margin-top: 34px;
        }
    }
    &__list {
        margin-bottom: 35px;
    }
    .article__table {
        &__item {
            flex-grow: 1;
        }
    }
    &__value {
        margin-top: 45px;
        display: grid;
        grid-template-columns: 69px 1fr;
        gap: 6px 0;
        align-items: center;
        &__abbr {
            width: 46px;
            height: 32px;
            border-radius: 6px;
            background: #F2F2F4;
            text-align: center;
            font-size: 14px;
            font-weight: 500;
            padding-top: 7px;
        }
        &__descr {
            font-size: 14px;
        }
       
    }
}