.marochnik {
    padding: 40px 0 200px;
    .back {
        margin-top: 0;
        text-align: left;
    }
    .catalog__search__btn {
        width: 36px;
        height: 36px;
        border-radius: 36px;
        background: #F2F2F4;
    }
    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 20px 16px;
    }
    &__item {
        display: block;
        width: 228px;
        height: 84px;
        border-radius: 8px;
        background: #E9F0FC;
        color: #222;
        font-size: 14px;
        padding: 12px 16px;
        text-decoration: none;
        transition: all .3s;
        &:hover {
            color: $blue;
        }
    }
    //марочник2
    &__th {
        display: grid;
        grid-template-columns: 168px 180px 1fr;
        gap: 0 47px;
        font-weight: 600;
        border-bottom: 1px solid #F2F2F4;
        padding-bottom: 20px;
        margin-top: 40px;
    }
    &__link {
        display: grid;
        grid-template-columns: 168px 180px 1fr;
        gap: 0 47px;
        align-items: center;
        padding: 13px 0;
        border-bottom: 1px solid #F2F2F4;
        color: $text-color;
        text-decoration: none;
        &__abbr {
            display: flex;
            justify-content: flex-start;
            border-radius: 6px;
            border: 1px solid #8EB1ED;
            background: #FFF;
            font-size: 14px;
            overflow: hidden;
            color: $text-color;
            text-decoration: none;
            width: 121px;
            height: 26px;
            &_blue {
               background: #E9F0FC;
               width: 40px;
                height: 26px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-right: 1px solid #8EB1ED;
            }
            &_transparent {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 4px 7px;
            }
        }
        &__marka {
            font-weight: 600;
        }
    }
    //марочник 3
    &__component {
        margin-top: 25px;
        border-radius: 12px;
        background: #E9F0FC;
        width: 262px;
        height: 147px;
        padding: 23px 36px 20px;
        margin-right: 40px;
    }
    &__wrapper {
        &_start {
            align-items: center;
            margin-bottom: 48px;
        }
    }
    &__name {
        border-bottom: 1px solid #F2F2F4;
        padding: 16px 0;
        gap: 38px;
        .gray {
            width: 115px;
        }
    }
    &__block {
        margin-bottom: 48px;
        .btn_small {
            background: $blue;
            color: #fff;
        }
        .wrapper_start {
            gap: 12px;
        }
    }
    .article__table {
        &__item {
            flex-grow: 1;
        }
    }
    &__value {
        margin-top: 49px;
        display: grid;
        grid-template-columns: 66px 1fr;
        gap: 6px 0;
        align-items: center;
        &__abbr {
            width: 46px;
            height: 32px;
            border-radius: 6px;
            background: #F2F2F4;
            text-align: center;
            font-size: 14px;
            font-weight: 500;
            padding-top: 7px;
        }
        &__descr {
            font-size: 14px;
        }
       
    }
}