@media screen and (max-width:1670px) {
    .providerSite {
        &__item {
            width: 460px;
        }
    }
    .offers {
        &__item {
            width: 31%;
        }
    }
    .search {
        &__item {
            width: 407px;
        }
    }
}
@media screen and (max-width:1439px) {
    .header {
        &__wrapper {
            flex-wrap: wrap;
        }
        &__icons {
            margin-top: 20px;
            margin-left: auto;
        }
        &__item {
            margin: 0 15px 0 0;
        }
        &__place {
            margin-left: auto;
    margin-top: 20px;
        }
    }
    .catalogFilters {
        &__banners {
            display: flex;
            overflow-x: scroll;
            margin-top: 24px;
        }
        &__banner {
            margin-right: 12px;
        }
    }
    .catalogFilters2 {
        &__wrapper {
            flex-wrap: wrap;
            justify-content: center;
        }
        &__item {
            padding: 51px 24px 50px;
            .fs_18 {
                font-size: 16px;
                line-height: 130%;
            }
            &__img {
                width: 70px;
                height: 70px;
                min-width: 70px;
                margin-right: 24px;
                img {
                    max-width: 60%;
                }
            }
        }
    }
    .table{
        &__block {
            overflow-x: scroll;
            
        }
    }
    .providerscard {
        &__right {
            display: none;
        }
    }
    .footer {
        &__wrapper {
            flex-wrap: wrap;
        }
        &__item {
            &:last-child {
                margin-left: auto;
            }
        }
    }
    //about company site
    .companyPromo {
        &__img {
            width: 62%;
            right: 0;
           img {
            width: 100%;
           }
        }
    }
    .companyMission {
        &__img {
            width: 62%;
            right: 0;
           img {
            width: 100%;
           }
        }
    }
    // for advertisers site
    .advNumbers {
        &__number {
            font-size: 70px;
        }
        &__item {
            .fs_24 {
                font-size: 20px;
                line-height: 25px;
            }
            .fs_16 {
                font-size: 14px;
            }
        }
    }
    .advInfo {
        .wrapper {
            gap: 30px;
        }
        &__content {
            max-width: 300px;
        }
        &__graph, &__graphList {
            max-width: 200px;
        }
        .title_36 {
            font-size: 28px;
            line-height: 120%;
        }
        
    }
    .advForm {
        &__form {
            .wrapper_start {
                flex-wrap: wrap;
            }
        }
    }
    .offers {
        &__item {
            width: 48%;
        }
    }
    .search {
        &__item {
            width: 442px;
        }
    }
    .proverka {
        &__content {
            max-width: 442px;
        }
    }
    
}
@media screen and (max-width:1024px) {
    .banner {
        &__logo {
            width: 85px;
        }
        &__date {
            font-size: 13px;
        }
        &__name {
            font-size: 13px;
        }
    }
    .about {
        &__block {
            min-width: 458px;
            padding: 40px 31px 0px;
            img {
                width: 80%;
            }
        }
        &__content {
            position: relative;
            z-index: 3;
            background: #fff;
        }
        
    }
    .choise {
        &__wrapper {
            gap: 0;
        }
        &__links {
            gap: 20px;
        }
    }
}
@media screen and (max-width:1023px) {
    .cart {
        padding-bottom: 100px;
        &__wrapper {
            flex-wrap: wrap;
        }
        &__prod {
            width: 100%;
        }
        &__order {
            width: 100%;
            margin: 0 auto;
            max-width: 100%;
        }
    }
    .serv {
        &__item {
            width: 328px;
            padding: 24px;
        }
        &__help {
            &__item {
                padding: 24px;
                width: 46%;
            }
        }
    }
    .footer {
        &__form {
            margin-left: auto;
        }
        &__item {
            &:first-child {
                width: 100%;
            }
        }
    }
    .login {
        width: auto;
        &__wins {
            display: none;
        }
    }
    .companyAbout {
        &__item {
            width: 300px;
            margin-bottom: 24px;
        }
        &__wrapper {
            flex-wrap: wrap;
        }
    }
    .companyParty {
        &__item {
            width: 300px;
            margin-bottom: 24px;
        }
        &__wrapper {
            flex-wrap: wrap;
        }
    }
    // for advertisers site
    .advNumbers {
        &__number {
            font-size: 50px;
        }
        &__item {
            padding: 24px 16px;
            height: 250px;
        }
    }
    .advInfo {
        padding: 0 0 70px;
        .wrapper {
            flex-wrap: wrap;
        }
        &__content {
            width: 100%;
            max-width: 100%;
        }
        &__graph, &__graphList {
            max-width: 45%;
            width: 45%;
            &__img {
                display: none;
            }
        }
    }
    .offers {
        &__item {
            width: 464px;
        }
    }
    .blog {
        &__links {
            overflow-x: scroll;
            padding-bottom: 3px;
        }
        &__link {
            white-space: nowrap;
        }
        &__stories {
            width: 72px;
            height: 72px;
        }
        
    }
    .article {
        &__top {
            &__items {
                overflow-x: auto;
            }
        }
    }
    
}
@media screen and (max-width:768px) {
    
    .menu {
        position: fixed;
        
        flex-direction: column;
        top: 0;
        right: -100%;
        background: rgba(39, 100, 224, .95);
        padding: 50px;
        width: 70%;
        height: 80vh;
        transition: all .3s;
        z-index: 14;
        &_active {
            right: 0;
        }
        &__item {
            a {
                color: #fff;
                font-size: 16px;
            }
        }
        
    }
    .hamburger {
        display: flex;
       
    }
    .banner {display: none;}
    .header {
        &__desktop {
            display: none;
        }
        &__icons {
            margin-top: 0;
        }
        &__indicator {
            display: none;
        }
        &__place {
            display: none;
        }
        &__menu {
            &_mob {
                position: fixed;
                width: 100%;
                bottom: 0;
                z-index: 12;
            }
        }
        
    }
    header {
        .btn {
            display: none;
        }
    }
    .mobile {
        display: block;
        align-self: center;
    }
    .banners {
        display: none;
    }
    .promo {
       
        &__wrapper {
            padding: 40px 34px 0;
            flex-direction: column;
            height: auto;
        }
        &__slider {
            height: auto;
            .slick-arrow {
                display: none;
            }
        }
        &__title {
            width: auto;
            font-size: 32px;
        }
        &__content {
            padding: 0;
        }
        &__text {
            margin: 12px 0 24px;
            max-width: 239px;
        }
        &__img {
            width: auto;
            min-width: auto;
           img {
            width: 139%;
    transform: translateX(-14%);
           }
        }
        
    }
    .popular {
        .slick-active {
            width: 130px;
        }
        .product{
            &__item {
                margin-top: 20px;
                margin-right: 16px;
                width: 126px;
                height: 130px;
                background: #F1F5F8;
                box-shadow: none;
            }
            &__count {
                left: 12px;
            }
           
        }
        
    }
    .choise {
        &__wrapper {
            flex-direction: column;
            padding: 24px 20px;
            gap: 45px;
        }
        &__content {
            padding-right: 0;
            width: auto;
            height: auto;
        }
        &__links {
            width: 100%;
            .fs_18 {
                font-size: 14px;
            }
        }
        .btn_transparent {
            width: 100%;
            margin-top: -25px;
        }
    }
    .spec {
        padding-bottom: 48px;
        &__wrapper {
            gap: 12px;
        }
        &__img {
            width: 60%;
        }
    }
    .providers {
        padding-bottom: 48px;
        &__wrapper {
            gap: 16px;
        }
        &__item {
            .fs_18 {
                font-size: 12px;
            }
            .fs_14 {
                font-size: 11px;
            }
        }
        &__logo {
            width: 96px;
            height: 96px;
            img {
                max-width: 68%;
            }
        }
    }
    .about {
        &__wrapper {
            flex-direction: column;
            margin-bottom: 0;
            margin-top: 0;
        }
        .flexWrap {
            flex-direction: row;
            flex-wrap: nowrap;
            width: auto;
            overflow-x: scroll;
            margin-bottom: 48px;
        }
        &__content {
            width: auto;
            text-align: center;
            .fs_18 {
                font-size: 14px;
                margin: 12px 0 16px;
                max-width: 316px;
            }
            &2 {
                order: 1;
            }
        }
        .title_36 {
            font-size: 20px;
            line-height: 27px;
            max-width: 261px;
            margin: 0 auto;
        }
        &__info {
            width: 100%;
            padding: 32px 0 60px;
            background: radial-gradient(circle at center, #F5F5F5 0%, #F5F5F5 60%, #fff 55%);
           
        }
        &__stick {
            &:nth-child(2), &:nth-child(3) {
                margin-left: auto;
            }
            max-width: 280px;
            height: auto;
            padding: 12px 24px;
            .fs_18 {
                font-size: 14px;
                
            }
            .fs_14 {
                font-size: 11px;
                line-height: 180%;
            }
            margin: 12px auto 0;
            .btn {
                font-size: 10px;
            }
        }
        &__info2 {
            order: 2;
        }
        &__raiting {
            transform: scale(0.7) translateX(-96px);
            &_hidden {
                margin: -243px 0 0 49px;
            }
        }
        .fs_18 {
            font-size: 14px;
            max-width: 316px;
        }
        &__item {
            background: #FFFFFF;
            box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.12);
            border-radius: 10px;
            min-width: 126px;
            width: 126px;
            height: 125px;
            padding: 24px 16px 20px;
            display: block;
            margin-right: 16px;
            svg {
                path {
                    fill: url(#linear-gradient);
                }
                 circle {
                    fill: url(#linear-gradient);
                 }   
                
            }
            &:nth-child(2) {
                svg {
                    path {
                        fill: #fff;
                    }
                    
                    
                }
            }
            .fs_18 {
                font-size: 12px;
                margin-top: 16px;
            }
        }
        &__img {
            box-shadow: none;
            background: transparent;
            max-width: 35px;
            min-width: 35px;
            width: 35px;
            height: 35px;
            svg {
                width: 100%;
            }
        }
        .fs_24 {
            font-size: 24px;
            max-width: 315px;
        }
        &__block {
            min-width: auto;
            text-align: center;
            margin-top: 20px;
            padding: 32px 12px 0;
            &__img {
                img {
                    width: 80%;
                }
            }
            .fs_24 {
                font-size: 20px;
            }
            &:nth-child(2) {
                margin-bottom: 48px;
            }
        }
        
       &__question {
        margin: 19px 0 0;
        padding-bottom: 0;
        .fs_18 {
            padding-bottom: 20px;
        }
       }
        &__summary {
            font-size: 16px;
            line-height: 21px;
            &__span {
                max-width: 292px;
                display: block;
            }
            
            &:before {
                width: 20px;
                top: 9px;
            }
            &:after {
                height: 20px;
                right: 9px;
            }
        }
        .about__title {
            max-width: 287px;
            margin-top: 48px;
            margin-bottom: 35px;
        }
        &__person {
            background: #fff;
            padding: 0;
            margin: 60px 0;
            &__wrap {
                flex-direction: column;
                justify-content: center;
                gap: 32px;
            }
            &__content {
                order: 2;
                max-width: 100%;
                text-align: center;
                gap: 12px;
            }
            &__img {
                order: 1;
                position: relative;
                width: 125px;
                height: 125px;
                border-radius: 100%;
                background: #EFF2F6;
                overflow: hidden;
                right: auto;
                bottom: 0;
                img {
                    width: 111%;
                transform: translate(10px, 10px);
                }
            }
        }
    }
    .catalog {
        &__wrapper {
            gap: 7px;
        }
        &__list {
            margin-right: 0;
        }
    }
    .catalogFilters2 {
        background: #f2f2f4;
    }
   
    .table {
        background: #f2f2f4;
    }

    .catalogFilters {
        background: #f2f2f4;
        .form__wrapper {
            flex-wrap: wrap;
            column-gap: 18px;
            row-gap: 20px;
           
           
            .btn {
                width: 100%;
            }
            .w100 {
                width: 100%;
            }
            .w151 {
                width: 151px;
            }
            .w158 {
                width: 158px;
            }
            .labelRadio {
                text-align: center;
            }
           
        }
        &__form {
            position: fixed;
            top: 0;
            left: 0;
            z-index: 10;
            width: 100vw;
            box-shadow: none;
            padding: 27px 24px 0;
            border-radius: 0;
            display: none;
            padding-top: 87px;
            padding-bottom: 28px;
        }
        .form {
            &__item_210 {
                width: 47%;
                max-width: 210px;
            }
           
        }
        &__title {
            margin-top: 0;
            padding: 16px 32px 8px 16px;
            font-size: 24px;
            line-height: 32px;
        }
        &__subtitle {
            padding: 0 16px;
            margin: 0;
            font-size: 12px;
        }
        &__count {
            margin: 16px;
            font-size: 14px;
            background: #fff;
            padding: 3px 16px;
        }
        .fs_24 {
            font-size: 20px;
            font-weight: 600;
        }
        .mb_24 {
            margin-bottom: 20px;
        }
        &__grayLink {
            
            margin-right: 0px;
            background: #DDDDDE;
        }
        &__text {
            font-size: 14px;
            line-height: 20px;
            width: 93%;
        }
        &__img {
            margin-top: 20px;
        }
        &__block {
            &__link {
                background: #DDDDDE;
                margin: 0 8px 12px 0;
                white-space: nowrap;
            }
        }
        &__rew {
            padding: 24px;
        }
        &__more {
            overflow-x: scroll;
            flex-wrap: nowrap;
        }
        
    }
    .catalogFilters3 {
        background: #f2f2f4;
        .tabs {
            &__caption {
                width: 100%;
                min-width: 100%;
                
                overflow-x: scroll;
                margin-bottom: 32px;
                li {
                    padding: 10px 16px;
                }
            }
            &__content {
                height: auto;
                .wrapper {
                    justify-content: flex-start;
                    column-gap: 8px;
                    row-gap: 12px;
                }
            }
        }
        .mb_80, .mb_60 {
            margin-bottom: 48px;
        }
        .fs_24, .fs_28 {
            font-size: 20px;
        }
        .mb_24 {
            margin-bottom: 20px;
        }
    }
    .blog {
        &__subscribe {
            background: url(../img/blog/blog_subscribe_mob.png) no-repeat center;
           
            padding: 32px 24px;
            
            background-position: top right;
            background-size: cover;
            &__form {
                margin-bottom: 16px;
                position: relative;
                height: 38px;
            }
            &__input {
                margin-right: 0;
                position: absolute;
                width: 100%;
                height: 38px;
            }
            .fs_18 {
                font-size: 16px;
            }
            .fs_13 {
                font-size: 12px;
            }
            .mb_24 {
                margin-bottom: 20px;
            }
            .btn {
                color: transparent;
                font-size: 1px;
                width: 38px;
                height: 38px;
                border-radius: 0px 6px 6px 0px;
                position: relative;
                padding: 0;
                position: absolute;
                right: 0;
                &::after {
                    content: '';
                    background: url(../img/blog/btn_subscribe.svg) no-repeat center;
                    width: 38px;
                    height: 38px;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }
        }
    }
}
@media screen and (max-width:767px) {
    .container {
        width: 100%;
        padding: 0 16px;
    }
    .container__map {
        padding: 0;
    }
    .container_1208 {
        width: 100%;
        padding: 0 16px;
    }
    .container_960 {
        width: 100%;
        padding:  0 16px;
    }
    .container_992 {
        width: 100%;
    }
    header {
        padding: 14px 0;
        .mobile {
            margin-right: 20px;
        }
    }
    .header {
        &__wrapper {
            padding: 0;
        }
        
        
        
    }
    .desktop {
        display: none;
    }
    .catalog {
        &__search {
            &__img {
                opacity: .6;
            }
            input::-webkit-input-placeholder { color: $text-color; }
            input::-moz-placeholder { color: $text-color; }
        }
        .product__item {
            width: 108px;
            height: 120px;
            overflow: hidden;
        }
        &__wrapper {
            gap: 9px;
        }
    }
    .serv {
        .mt_32 {
            margin-top: 16px;
        }
        .title_36 {
            font-size: 24px;
            line-height: 32px;
        }
        .center {
            text-align: left;
        }
        &__wrapper {
            gap: 15px;
        }
        &__item {
            width: 164px;
            height: 216px;
            padding: 24px 13px 13px;
            .fs_24 {
                font-size: 16px;
                line-height: 21px;
            }
            .fs_16 {
                font-size: 12px;
                line-height: 16px;
            }
            
        }
        &__img {
            margin-bottom: 16px;
        }
        .mb_80 {
            margin-bottom: 48px;
        }
        &__contacts {
            gap: 16px;
        }
        &__help {
            &__item {
                width: 100%;
                background: #F2F2F4;
                display: flex;
                align-items: center;
                height: auto;
                padding-right: 50px;
                .fs_18 {
                    text-align: left;
                    margin-left: 16px;
                    margin-top: 0;
                    font-size: 14px;
                }
                &:nth-child(1) {
                    order: 2;
                }
                &:nth-child(2) {
                    order: 1;
                }
                &:nth-child(3) {
                    order: 3;
                }
            }
            &__img {
                width: 40px;
                height: 40px;
                min-width: 40px;
                min-height: 40px;
                background: #FFFFFF;
                margin: 0;
            }
        }
        .mobile__link {
            display: block;
        }
    }
    .cart {
        .container {
            padding: 0 8px;
        }
        padding: 16px 0 20px;
        &__wrapper {
            gap: 0;  
        }
        &__divider {
            display: none;
        }
        &__item {
            flex-wrap: wrap;
        }
        &__name {
            input {
                order: 2;
            }
        }
        &__quantity {
            .cart__text {
                display: none;
            }
        }
        &__order {
            display: flex;
            flex-direction: column;
            min-width: 359px;
            box-shadow: none;
            padding: 0 0 10px;
            &__wrap {
              order: 2;
              
              
            }
           
            &__block {
                order: 1;
                margin: 0 0 40px;
            }
            .cart__wrapper {
                order: 2;
            }
            .cart__text_16 {
                order: 3;
            }
            .weight400 {
                order: 4;
            }
            .blue {
                order: 5;
            }
        }
    }
   .repost {
    display: none;
   }
    .order_btn{
        position: fixed;
    bottom: 80px;
    width: 327px;
    height: 50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    }
    .footer {
       &__wrapper {
        flex-direction: column;
        align-items: flex-start;
       }
        &__item {
            gap: 16px;
            &:first-child {
                flex-direction: column;
                align-items: flex-start;
                margin-bottom: 40px;
            }
            &:last-child {
                width: 100%;
               margin: 26px 0 32px;
                .footer__btn {
                    width: 100%;
                    text-align: center;
                }
            }
        }
        &__wrap {
            display: none;
        }
        &__desktop {
            display: none;
        }
        &__form {
            width: 100%;
            
        }
        &__input {
            padding: 10px 12px;
        }
        &__btn {
            padding: 12px 14px;
        }
        &__soc {
            margin: 30px auto 0;
            
        }
    }
    .title {
        font-size: 20px;
    }
    .blue {
        font-size: 14px;
    }
    
    .providerscard {
        .container {
            padding: 0 16px;
        }
       
        .providers__logo {
            width: 80px;
            height: 80px;
            
            img {
                max-width: 75%;
            }
        }
        .title_36 {
            font-size: 20px;
        }
        .fs_24 {
            font-size: 20px;
            line-height: 27px;
        }
        &__name {
            margin-left: 16px;
        }
        .back_gray {
            background: #F2F2F4;
            padding-top: 21px;
            padding-bottom: 23px;
            margin-bottom: 32px;
          } 
             
        
        &__info {
            margin-bottom: 48px;
            &__info {
                margin-top: 13px;
            }
            .textColor, .blue {
                align-self: flex-end;
            }
            .wrapper_start {
                justify-content: space-between;
            }
        }
        &__serv {
            &__item {
                background: #F2F2F4;
                span {
                    display: block;
                    margin-left: 0;
                }
            }
        }
        &__rew {
            order: 2;
            &__raiting {
                order: 1;
            }
            &__item {
                padding: 24px 0px;
                .checkmark_blue {
                    background: transparent;
                }
            }
        }
        &__raiting {
            &__header {
                background: #E9F0FC;
                border-radius: 8px;
                padding: 14px 16px;
                .fs_18 {
                    font-size: 14px;
                }
            }
        }
        .mb_32 {
            margin-bottom: 20px;
        }
        .raiting {
            width: 48px;
            height: 48px;
            min-height: 48px;
            min-width: 48px;
            margin-right: 14px;
            &:after {
                width: 42px;
                height: 42px;
                top: 3.2px;
            }
        }
        &__watched {
            margin-bottom: 48px;
            width: 343px;
            background: #E9F0FC;
            border-radius: 10px;
            &__subtitle {
                background: #fff;
                max-width: 217px;
                padding: 2px 9px;
            }
            .fs_18 {
                font-size: 16px;
            }
            svg {
                path {
                    fill: $text-color;
                }
            }
            .fs_24 {
                font-size: 24px;
            }
            .cart__quantity__count {
                width: 142px;
                margin-right: 37px;
            }
            .btn {
                width: 100%;
                margin-bottom: 20px;
            }
            .divider {
                display: none;
            }
        }
    }
    .table {
        padding-bottom: 48px;
        &__filters {
            margin: 0;
        }
        &__item {
            flex-wrap: wrap;
            max-width: 425px;
            .mobile {
                width: 45%;
            }
            border-radius: 10px;
            padding: 0;
            background: #fff;
            margin-bottom: 16px;
            overflow: hidden;
            .table__showMore, .table__hide {
                width: 100%;
                padding-left: 24px;
            }
            &_spec {
                overflow: visible;
                border-top: none;
                height: auto;
                &:before {
                    background: #20960D;
                    border-radius: 10px;
                    left: 24px;
                    top: -10px;
                    width: 128px;
                    height: 21px;
                    line-height: 14px;
                    z-index: 10;
                }
            }
        }
        &__block {
            overflow: hidden;
        }
        &__row {
            flex-wrap: wrap;
            justify-content: space-between;
            width: 100%;
            height: auto;
            
            padding: 16px 24px;
            background: #fff;
            &_top {
                height: 122px;
                overflow: hidden;
            }
            &_bottom {
                padding-bottom: 20px;
                .table__metallobaza {
                    order: 1;
                    width: 100%;
                    margin-bottom: 4px;
                   .blue {
                    font-weight: 400;
                    font-size: 16px;
                    color: $text-color;
                   }
                   img {
                    max-width: 12px;
                   }
                }
                .city {
                    order: 2;
                    color: #9295AE;
                    font-size: 16px;
                }
                .prov {
                    order: 3;
                    color: $gray;
                }
                .price {
                    order: 4;
                    font-size: 16px;
                    margin-top: 10px;
                }
                .order {
                    order: 6;
                    width: 50%;
                    margin-top: 16px;
                    .btn_small {
                        padding: 9px 41px;
                        font-weight: 400;
                        font-size: 14px;
                    }
                }
                .table__td {
                    text-align: left;
                }
            }
        }
        &__td {
            width: 45%;
            min-width: 45%;
            font-weight: 600;
            text-align: right;
        }
        .btn_transparent {
            opacity: 1;
            order: 2;
           
            width: 100%;
            max-width: 343px;
            margin: 24px auto 0;
        }
        .mb_80 {
            margin-bottom: 48px;
        }
        .mb_48 {
            margin-bottom: 20px;
        }
        &__count {
            flex-direction: column;
            .sitesCount {
                order: 3;
                margin: 32px 0 0;
                &__site {
                    background: #fff;
                    &_active {
                        background: $blue;
                    }
                }
            }
            
        }
    }
    .login {
        &__reg {
            padding: 24px;
            width: 300px;
            .fs_24 {
                font-size: 16px;
            }
        }
    }
    .modal__help {
        right: auto;
        bottom: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: auto;
    }
    .blog {
        .fs_28 {
            font-size: 24px;
        }
        padding: 16px 0 60px;
        &__stories {
            margin: 0 auto 8px;
        }
        &__articles {
            gap: 24px 11px;
            &__item {
                width: 50%;
                max-width: 166px;
                .fs_18, .fs_14 {
                    font-size: 12px;
                }
                &:nth-child(3n) {
                    width: 100%;
                    max-width: 343px;
                    .fs_18 {
                        font-size: 14px;
                    }
                }
            }
            
           
            
        }
        &__img {
            margin-bottom: 12px;
        }
        
    }
    .article {
        padding: 24px 0 60px;
        &__activity {
            bottom: 0;
            left: 0;
            position: fixed;
            background: rgba(255, 255, 255, 0.60);
            box-shadow: 0px -2px 10px 0px rgba(0, 0, 0, 0.10);
            backdrop-filter: blur(15px);
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            padding: 20px 77px;
            height: 60px;
            &__item {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 16px;
                margin-bottom: 0;
            }
        }
        .title_36 {
            font-size: 20px;
            line-height: 120%;
            width: 293px;
        }
        .mb_64 {
            margin-bottom: 24px;
        }
        &__text {
            width: 100%;
            .fs_18 {
                font-size: 16px;
                line-height: 24px;
            }
        }
        &__blockquote {
            font-size: 14px;
            line-height: 24px;
            padding-left: 24px;
            margin-bottom: 24px;
        }
        &__table {
            flex-direction: column;
            width: 100%;
            &__item {
                display: flex;
               
            }
            &__name, &__value {
                width: 50%;
            }
        }
        &__autor {
            flex-direction: column;
            gap: 18px;
            padding: 32px;
            .wrapper {
                width: 100%;
                justify-content: flex-start;
            }
            .btn_gray {
                width: 100%;
            }
        }
        &__newautor {
            padding: 24px 32px;
            .fs_18 {
                font-size: 15px;
            }
            .btn {
                font-weight: 400;
            }
        }
        &__comments {
            .fs_28 {
                font-size: 20px;
            }
            .fs_14 {
                line-height: 20px;
            }
            
        }
        &__form {
            margin-bottom: 36px;
            .fs_14 {
                white-space: nowrap;
            }
        }
        .blog__subscribe {
            margin-bottom: 48px;
        }
        .blog__articles__item {
            width: 100%;
            max-width: 100%;
        }
        &__top {
            &__items {
                gap: 16px;
            }
        }
    }
}
