@media screen and (max-width:1443px) {
    .header {
        &__wrapper {
            flex-wrap: wrap;
        }
        &__icons {
            margin-top: 20px;
            margin-left: auto;
        }
        &__item {
            margin: 0 15px 0 0;
        }
        &__place {
            margin-left: auto;
    margin-top: 20px;
        }
    }
    .footer {
        &__wrapper {
            flex-wrap: wrap;
        }
        &__item {
            &:last-child {
                margin-left: auto;
            }
        }
    }
}
@media screen and (max-width:1024px) {
    .banner {
        &__logo {
            width: 85px;
        }
        &__date {
            font-size: 13px;
        }
        &__name {
            font-size: 13px;
        }
    }
}
@media screen and (max-width:1023px) {
    .cart {
        padding-bottom: 100px;
        &__wrapper {
            flex-wrap: wrap;
        }
        &__prod {
            width: 100%;
        }
        &__order {
            width: 100%;
            margin: 0 auto;
            max-width: 100%;
        }
    }
    .footer {
        &__form {
            margin-left: auto;
        }
        &__item {
            &:first-child {
                width: 100%;
            }
        }
    }
}
@media screen and (max-width:768px) {
    .menu {
        position: fixed;
        
        flex-direction: column;
        top: 0;
        right: -100%;
        background: rgba(39, 100, 224, .95);
        padding: 50px;
        width: 70%;
        height: 80vh;
        transition: all .3s;
        z-index: 14;
        &_active {
            right: 0;
        }
        &__item {
            a {
                color: #fff;
                font-size: 16px;
            }
        }
        
    }
    .hamburger {
        display: flex;
       
    }
    .banner {display: none;}
    .header {
        &__desktop {
            display: none;
        }
        &__icons {
            margin-top: 0;
        }
        &__indicator {
            display: none;
        }
        &__place {
            display: none;
        }
        &__menu {
            &_mob {
                position: fixed;
                width: 100%;
                bottom: 0;
                z-index: 10;
            }
        }
        
    }
    header {
        .btn {
            display: none;
        }
    }
    .mobile {
        display: block;
        align-self: center;
    }
    .banners {
        display: none;
    }
}
@media screen and (max-width:767px) {
    .container {
        width: 100%;
        padding: 0 8px;
    }
    
    header {
        padding: 14px 0;
    }
    .header {
        &__wrapper {
            padding: 0;
        }
        
        
    }
    .desktop {
        display: none;
    }
    .cart {
        padding: 16px 0 20px;
        &__wrapper {
            gap: 0;  
        }
        &__divider {
            display: none;
        }
        &__item {
            flex-wrap: wrap;
        }
        &__name {
            input {
                order: 2;
            }
        }
        &__quantity {
            .cart__text {
                display: none;
            }
        }
        &__order {
            display: flex;
            flex-direction: column;
            min-width: 359px;
            box-shadow: none;
            padding: 0 0 10px;
            &__wrap {
              order: 2;
              
              
            }
           
            &__block {
                order: 1;
                margin: 0 0 40px;
            }
            .cart__wrapper {
                order: 2;
            }
            .cart__text_16 {
                order: 3;
            }
            .weight400 {
                order: 4;
            }
            .blue {
                order: 5;
            }
        }
    }
   .repost {
    display: none;
   }
    .order_btn{
        position: fixed;
    bottom: 80px;
    width: 327px;
    height: 50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    }
    .footer {
       &__wrapper {
        flex-direction: column;
        align-items: flex-start;
       }
        &__item {
            gap: 16px;
            &:first-child {
                flex-direction: column;
                align-items: flex-start;
                margin-bottom: 40px;
            }
            &:last-child {
                width: 100%;
               margin: 26px 0 32px;
                .footer__btn {
                    width: 100%;
                    text-align: center;
                }
            }
        }
        &__wrap {
            display: none;
        }
        &__desktop {
            display: none;
        }
        &__form {
            width: 100%;
            
        }
        &__input {
            padding: 10px 12px;
        }
        &__btn {
            padding: 12px 14px;
        }
        &__soc {
            margin: 30px auto 0;
            
        }
    }
    .providerscard {
        .container {
            padding: 0 16px;
        }
        .container__map {
            padding: 0;
        }
        .providers__logo {
            width: 80px;
            height: 80px;
            
            img {
                max-width: 75%;
            }
        }
        .title_36 {
            font-size: 20px;
        }
        .fs_24 {
            font-size: 20px;
            line-height: 27px;
        }
        &__name {
            margin-left: 16px;
        }
        .back_gray {
            background: #F2F2F4;
            padding-top: 21px;
            padding-bottom: 23px;
            margin-bottom: 32px;
          } 
             
        
        &__info {
            &__info {
                margin-top: 13px;
            }
            .textColor, .blue {
                align-self: flex-end;
            }
            .wrapper_start {
                justify-content: space-between;
            }
        }
        &__serv {
            &__item {
                background: #F2F2F4;
                span {
                    display: block;
                    margin-left: 0;
                }
            }
        }
        &__rew {
            order: 2;
            &__raiting {
                order: 1;
            }
            &__item {
                padding: 24px 16px;
                .checkmark_blue {
                    background: transparent;
                }
            }
        }
        &__raiting {
            &__header {
                background: #E9F0FC;
                border-radius: 8px;
                padding: 14px 16px;
                .fs_18 {
                    font-size: 14px;
                }
            }
        }
        .mb_32 {
            margin-bottom: 20px;
        }
        .raiting {
            width: 48px;
            height: 48px;
            min-height: 48px;
            min-width: 48px;
            margin-right: 14px;
            &:after {
                width: 42px;
                height: 42px;
                top: 3.2px;
            }
        }
    }
    

}
