.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0.3;
    z-index: 100;
    display: none;
}   
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 101;
    display: none;
    &__close {
        position: absolute;
        top: 9px;
        right: 20px;
        cursor: pointer;
        font-size: 34px;
    }
}
.login {
    width: 880px;
    border-radius: 15px;
    background: #fff;
    &__wins {
        padding: 63px 60px 58px;
        background: #E9F0FC;
        border-radius: 15px 0px 0px 15px;
        width: 50%;
        min-width: 50%;
        .fs_14 {
            line-height: 150%;
            font-weight: 400;
        }
        
    }
    &__img {
        width: 48px;
        height: 48px;
        min-width: 48px;
        min-height: 48px;
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 12px;
        margin-right: 24px;
        img {
            max-width: 100%;
        }
    }
    &__reg {
        padding: 60px 80px 40px;
        .fs_14 {
            line-height: 150%;
            max-width: 246px;
        }
        .fs_12 {
            line-height: 167%;
        }
    }
    &__form {
        &__input {
            &__wrap {
                position: relative;
                &:before {
                    content: url('../img/modal/flag.svg');
                    position: absolute;
                    left: 16px;
                    top: 50%;
                    transform: translateY(-50%);
                }
                &::after {
                    content: '+7';
                    position: absolute;
                    left: 39px;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
        .btn {
            width: 100%;
            height: 50px;

        }
        .btn_order {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 50px;
        }
    }
    &__input {
        background: #fff;
        border: 1px solid #DDDDDD;
        margin: 0;
        padding-left: 60px;
        &:hover {
            appearance: none;
        }
    }
    &__label {
        display: block;
    }
}