.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0.3;
    z-index: 100;
    display: none;
    &_light {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000000;
        opacity: 0.1;
        z-index: 9;
        display: none;  
    }
}   
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 101;
    display: none;
    &__close {
        position: absolute;
        top: 9px;
        right: 20px;
        cursor: pointer;
        font-size: 34px;
        color: $dark_back;
    }
   
}
//login
.modal {
    &__login {
        width: 100%;
        top: 0;
        left: 0;
        transform: translate(0, 0);
        .modal__close {
            top: 26px;
    right: 40px;
    cursor: pointer;
    font-size: 37px;
        }
    }
}
.login {
    .wrapper_start {
        align-items: stretch;
    }
    width: 100%;
    
    background: #fff;
    &__wins {
        color: #fff;
        padding: 127px 60px 55px 120px;
        background-image: url(../img/company/company-mission-bg.png);
        background-image: image-set(
            url(../img/company/company-mission-bg-2x.webp) type('image/webp') 1x,
            url(../img/company/company-mission-bg-2x.webp) type('image/webp') 2x,
            url(../img/company/company-mission-bg.png) type('image/png') 1x,
            url(../img/company/company-mission-bg-2x.png) type('image/png') 2x,
            
        );
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 62% bottom;
        background-color: $blue;
        width: 50%;
        min-width: 50%;
        .fs_14 {
            line-height: 150%;
            font-weight: 400;
            
        }
        &__content {
            max-width: 310px;
        }
        
    }
    &__img {
        width: 48px;
        height: 48px;
        min-width: 48px;
        min-height: 48px;
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 12px;
        margin-right: 24px;
        img {
            max-width: 100%;
        }
    }
    &__reg {
        width: 50%;
        padding: 127px 80px 104px;
        display: flex;
        justify-content: center;
        .fs_14 {
            line-height: 150%;
            max-width: 246px;
        }
        &__content {
            max-width: 323px;
        }
       label {
        display: block;
        input {
            padding-left: 16px;
        }
        .fs_14 {
            line-height: normal;
        }
       }
    }
    &__form {
        &__input {
            &__wrap {
                position: relative;
                &:before {
                    content: url('../img/modal/flag.svg');
                    position: absolute;
                    left: 16px;
                    top: 50%;
                    transform: translateY(-50%);
                }
                &::after {
                    content: '+7';
                    position: absolute;
                    left: 39px;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
        .btn {
            width: 100%;
            height: 50px;

        }
        .btn_order {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 50px;
        }
    }
    &__input {
        height: 44px;
        background: #fff;
        border: 1px solid #DDDDDD;
        margin: 0;
        padding-left: 60px;
        &:hover {
            appearance: none;
        }
    }
    &__label {
        display: block;
    }
}
//вход для зарегистрированных пользователей
.modal {
    &__login-reg {
        background-color: #fff;
        border-radius: 15px;
        padding: 48px 60px 24px 60px;
       min-width: 26%;

        form {
            padding-bottom: 24px;
            border-bottom: 1px solid #F2F2F4;
            margin-bottom: 16px;
        }
        button.blue {
            margin: 0 auto;
            cursor: pointer;
            display: flex;
            column-gap: 12px;
            align-items: center;
            &:after {
                content: '';
                display: block;
                margin-top: 2px;
                width: 13px;
                height: 13px;
                background: url(../img/log-in.svg) no-repeat center/ cover;
            }
        }
        label {
            display: block;
            .fs_14 {
                line-height: normal;
            }
            input {
                padding-left: 16px;
            }
        }
    }
}
//для поставщиков
.modal {
    &__login-provider {
        form {
            margin-bottom: 0;
            border-bottom: none;
        }
    }
}
//help footer
.modal {
    &__help {
        background: rgba(255, 255, 255, 0.7);
        backdrop-filter: blur(10px);
        padding: 32px 32px 5px 32px;
        max-width: 432px;
        border-radius: 12px;
        bottom: 48px;
        right: 48px;
        left: auto;
        top: auto;
        transform: translate(0, 0);
    }
    .fs_14 {
        max-width: 349px;
    }
}
.help {
    &__item {
        color: $text-color;
        text-decoration: none;
        display: block;
        position: relative;
        padding: 20px 24px 0;
        width: 176px;
        height: 174px;
        border-radius: 12px;
        overflow: hidden;
        margin-bottom: 41px;
        &:nth-child(1) {
            background: $blue;
            margin-right: 16px;
        }
        &:nth-child(2) {
            background: #fff;
        }
        .fs_14 {
            line-height: 19px;
        }
    }
    &__img {
        position: absolute;
        bottom: 0;
    }
    &__link {
        display: block;
        color: $text-color;
        text-decoration: none;
        font-size: 16px;
        margin-bottom: 27px;
        cursor: pointer;
        img {
            margin-right: 14px;
        }
    }
}
// order
//заявка успешно оформлена
.modal {
    &__order {
        background: #FFFFFF;
        box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.12);
        border-radius: 15px;
        text-align: center;
        padding: 67px 142px 54px;
        .btn {
            margin: 0 auto;
            padding: 11px 30px 13px;
        }
        img {
            max-width: 204px;
            margin-bottom: 37px;
        }
        .order {
            width: 428px;
            .fs_14 {
                max-width: 100%;
            }
        }
    }
}
//товар добавлен в корзину
.modal {
    &__addincart {
        max-width: 712px;
        width: 712px;
        background: #FFFFFF;
        box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.12);
        border-radius: 15px;
        
        .fs_24 {
            margin-bottom: 27px;
        }
        &__top {
            
            border-bottom: 1px solid #F2F2F4;
            padding: 32px 40px 21px;
        }
        &__product {
            width: 380px;
            
        }
        &__bottom {
            padding: 32px 40px 36px;
        }
        &__count {
            width: 168px;
            margin-left: auto;
            .active {
                background: #F2F2F4;
            }
        }
        .cart__quantity__count .quantity {
            margin-top: 0;
            width: 170px;
        }
        &__tonn, &__metr {
            width: 50%;
            font-weight: 600;
            font-size: 12px;
            padding: 7px 24px;
            border: 1px solid #DDDDDD;
            cursor: pointer;
            height: 28px;
            
        }
        &__tonn {
            border-right: none;
            border-radius: 5px 0px 0px 5px;
        }
        &__metr {
            border-radius: 0 5px 5px 0;
        }
        .btn {
            width: 48%;
            height: 44px;
            max-width: 304px;
            &_order {
                width: 48%;
                height: 44px;
                max-width: 304px;
                font-size: 15px;
                font-weight: 600;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}


//размещение баннера истекает продлить
.modal{
    &__banners {
        position: fixed;
        padding: 57px 100px 63px 92px;
        max-width: 588px;
        width: 588px;
        border-radius: 15px;
        background: #FFF;
        box-shadow: 0px 12px 30px 0px rgba(0, 0, 0, 0.12);
        .btn {
            width: 100%;
            font-weight: 400;
            height: 50px;
        }
        
    }
}
//выбор города
.modal {
    &__city {
        
        width: 43%;
        max-width: 712px;
        padding: 48px 48px 68px;
        background-color: #fff;
        box-shadow: 0px 12px 30px 0px rgba(0, 0, 0, 0.12);
        border-radius: 15px;
        
        &__list {
            display: grid;
            grid-template-columns: 1fr 1fr;
            width: 100%;
            gap: 24px;
            margin-top: 10px;
            button {
                font-size: 18px;
                font-weight: 600;
                line-height: 25px;
                transition: color .3s;
                cursor: pointer;
                text-align: left;
                &:hover {
                    color: $blue;
                }
            }
        }
        .catalog__search__input {
            padding-left: 24px;
        }
        .filter-dropdown {
            position: relative;
        }
        datalist {
            border-radius: 0;
            box-shadow: none;
            width: 100%;
            padding: 0;
            position: relative;
            option {
                padding: 8px 0;
                font-size: 18px;
                font-weight: 600;
                &:hover {
                    border-radius: 0;
                    background: transparent;
                    color: $blue;
                }
            }
        }
        .remove-val {
            position: absolute;
            font-size: 16px;
            width: 16px;
            height: 16px;
            background: url(../img/remove-val.svg) no-repeat center/cover;
            cursor: pointer;
            top: 13px;
            right: 17px;
            display: none;
        }
        .filter-dropdown-city {
            position: relative;
        }
    }
}
//подписка на категории в заявках
.modal {
    &__applications-subscribe {
        border-radius: 15px;
        box-shadow: 0px 12px 30px 0px rgba(0, 0, 0, 0.12);
        max-width: 607px;
        background-color: #fff;
        padding: 48px 64px 60px;
        input {
            padding-left: 16px;
        }
        label {
            display: block;
        }
        &__wrapper {
            display: grid;
            grid-template-columns: 2fr 1fr;
            align-items: flex-end;
            gap: 16px;
            .btn {
                height: 44px;
                width: 100%;
            }
            .form__input {
                margin-bottom: 0;
                height: 44px;
            }
            .form__input__dropdown {
                top: 44px;
            }
        }
    }
    //Разместить заявку на металл
    &__applications__order {
        background: #fff;
        padding: 48px 64px 24px;
        border-radius: 15px;
        box-shadow: 0px 12px 30px 0px rgba(0, 0, 0, 0.12);
        max-width: 712px;
        &-form {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 24px;
        }
        textarea {
            grid-column: 1/-1;
            resize: none;
            width: 100%;
            height: 127px;
            border-radius: 6px;
            border: 1px solid var(--input-border, #DDD);
            background: #FFF;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            padding: 12px 16px;
            margin: 8px 0;
            &:focus {
                outline: 4px solid #e9effc;
                border: 1px solid #2764e0;
                 
            }
        }
        .input-file-row {
            grid-column: 1/-1;
        }
        .btn {
            grid-column: 1/-1;
            width: 100%;
        }
        .gray {
            grid-column: 1/-1;
        }
        .btn_remove {
            font-size: 15px;
            font-weight: 600;
            width: 100%;
            height: 44px;
            cursor: pointer;
            &::before {
                content: '';
                display: block;
                width: 14px;
                height: 12px;
                background: url(../img/add-file.svg) no-repeat center/contain;
                margin-right: 8px;
            }
        }
        .input-file-list {
            margin-top: 8px;
        }
        .input-file-list-item {
            position: relative;
            width: 100%;
            min-height: 44px;
            border-radius: 6px;
            background: #F2F2F4;
            color: #9295AE;
            font-size: 14px;
            gap: 19px;
            line-height: normal;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 40px 0 40px;
            max-width: 404px;
            &::before {
              content: '';
              width: 17px;
              height: 20px;
              display: block;
              background: url(../img/input-file-blue.svg) no-repeat center/contain;
              position: absolute;
              left: 20px;
              top: 50%;
              transform: translateY(-50%);
            }
          }
          .input-file-list-remove {
            cursor: pointer;
            position: absolute;
            width: 16px;
            height: 16px;
            right: 16px;
            top: 50%;
            transform: translateY(-50%);
            background: url(../img/cross.svg) no-repeat center/cover;
          }
    }
     //Отправить приглашение поставщику
     &__invite {
        width: 861px;
        border-radius: 15px;
        background: #FFF;
        padding: 48px 64px;
        .fs_14 {
            line-height: normal;
        }
        input {
            padding-left: 16px;
            width: 100%;
        }
        label {
            display: block;
            max-width: 280px;
        }
        &__subtitle {
            text-wrap: balance;
        }
        &__data {
            width: 49%;
            &:nth-child(2) {
                width: 51%;
                border-radius: 12px;
                background: #F2F2F4;
                padding: 32px 48px 40px;
            }
        }
        .btn {
            width: 100%;
            margin-top: 32px;
            height: 56px;
        }
     }
     //заказать обратный звонок
     &__call {
        border-radius: 15px;
        background: #FFF;
        padding: 48px 60px;
        max-width: 440px;
        .btn {
            width: 100%;
        }
     }
     //написать на почту
     
     &__mail {
        input {
            padding-left: 16px;
        }
        max-width: 712px;
        .fs_14 {
            max-width: 100%;
        }
        &__subtitle {
            
            text-wrap: balance;
        }
        border-radius: 15px;
        background: #FFF;
        padding: 48px 64px 24px;
        box-shadow: 0px 12px 30px 0px rgba(0, 0, 0, 0.12);
        .new-select:empty {
            background-color: #fff;
            border: 1px solid #ddd;
         }
         .new-select {
            height: 44px;
         }
        &__theme {
            grid-column: 1/3;
         }
         textarea {
            grid-column: 1/3;
            resize: none;
            width: 100%;
            height: 127px;
            border-radius: 6px;
            border: 1px solid var(--input-border, #DDD);
            background: #FFF;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            padding: 12px 16px;
            margin: 8px 0;
            &:focus {
                outline: 4px solid #e9effc;
                border: 1px solid #2764e0;
                 
            }
        }
        .input-file-row {
            grid-column: 1/3;
        }
        .btn_remove {
            height: 44px;
        }
        .btn {
            grid-column: 1/3;
            width: 100%;
            height: 56px;
            margin-bottom: 8px;
        }
        .gray {
            grid-column: 1/3;
            text-align: center;
        }
     }
     
    
}