.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0.3;
    z-index: 100;
    display: none;
    &_light {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000000;
        opacity: 0.1;
        z-index: 9;
        display: none;  
    }
}   
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 101;
    display: none;
    &__close {
        position: absolute;
        top: 9px;
        right: 20px;
        cursor: pointer;
        font-size: 34px;
        color: $dark_back;
    }
   
}
//login
.login {
    
    width: 880px;
    border-radius: 15px;
    background: #fff;
    &__wins {
        padding: 66px 60px 55px;
        background: #E9F0FC;
        border-radius: 15px 0px 0px 15px;
        width: 50%;
        min-width: 50%;
        .fs_14 {
            line-height: 150%;
            font-weight: 400;
        }
        
    }
    &__img {
        width: 48px;
        height: 48px;
        min-width: 48px;
        min-height: 48px;
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 12px;
        margin-right: 24px;
        img {
            max-width: 100%;
        }
    }
    &__reg {
        padding: 60px 80px 40px;
        .fs_14 {
            line-height: 150%;
            max-width: 246px;
        }
        
       
    }
    &__form {
        &__input {
            &__wrap {
                position: relative;
                &:before {
                    content: url('../img/modal/flag.svg');
                    position: absolute;
                    left: 16px;
                    top: 50%;
                    transform: translateY(-50%);
                }
                &::after {
                    content: '+7';
                    position: absolute;
                    left: 39px;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
        .btn {
            width: 100%;
            height: 50px;

        }
        .btn_order {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 50px;
        }
    }
    &__input {
        height: 44px;
        background: #fff;
        border: 1px solid #DDDDDD;
        margin: 0;
        padding-left: 60px;
        &:hover {
            appearance: none;
        }
    }
    &__label {
        display: block;
    }
}
//help footer
.modal {
    &__help {
        background: rgba(255, 255, 255, 0.7);
        backdrop-filter: blur(10px);
        padding: 32px 32px 5px 32px;
        max-width: 432px;
        border-radius: 12px;
        bottom: 48px;
        right: 48px;
        left: auto;
        top: auto;
        transform: translate(0, 0);
    }
    .fs_14 {
        max-width: 349px;
    }
}
.help {
    &__item {
        color: $text-color;
        text-decoration: none;
        display: block;
        position: relative;
        padding: 20px 24px 0;
        width: 176px;
        height: 174px;
        border-radius: 12px;
        overflow: hidden;
        margin-bottom: 41px;
        &:nth-child(1) {
            background: $blue;
            margin-right: 16px;
        }
        &:nth-child(2) {
            background: #fff;
        }
        .fs_14 {
            line-height: 19px;
        }
    }
    &__img {
        position: absolute;
        bottom: 0;
    }
    &__link {
        display: block;
        color: $text-color;
        text-decoration: none;
        font-size: 16px;
        margin-bottom: 27px;
        img {
            margin-right: 14px;
        }
    }
}
// order
//заявка успешно оформлена
.modal {
    &__order {
        background: #FFFFFF;
        box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.12);
        border-radius: 15px;
        text-align: center;
        padding: 67px 142px 54px;
        .btn {
            margin: 0 auto;
            padding: 11px 30px 13px;
        }
        img {
            max-width: 204px;
            margin-bottom: 37px;
        }
        .order {
            width: 428px;
            .fs_14 {
                max-width: 100%;
            }
        }
    }
}
//товар добавлен в корзину
.modal {
    &__addincart {
        max-width: 712px;
        width: 712px;
        background: #FFFFFF;
        box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.12);
        border-radius: 15px;
        
        .fs_24 {
            margin-bottom: 27px;
        }
        &__top {
            
            border-bottom: 1px solid #F2F2F4;
            padding: 32px 40px 21px;
        }
        &__product {
            width: 380px;
            
        }
        &__bottom {
            padding: 32px 40px 36px;
        }
        &__count {
            width: 168px;
            margin-left: auto;
            .active {
                background: #F2F2F4;
            }
        }
        .cart__quantity__count .quantity {
            margin-top: 0;
            width: 170px;
        }
        &__tonn, &__metr {
            width: 50%;
            font-weight: 600;
            font-size: 12px;
            padding: 7px 24px;
            border: 1px solid #DDDDDD;
            cursor: pointer;
            height: 28px;
            
        }
        &__tonn {
            border-right: none;
            border-radius: 5px 0px 0px 5px;
        }
        &__metr {
            border-radius: 0 5px 5px 0;
        }
        .btn {
            width: 48%;
            height: 44px;
            max-width: 304px;
            &_order {
                width: 48%;
                height: 44px;
                max-width: 304px;
                font-size: 15px;
                font-weight: 600;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}


//размещение баннера истекает продлить
.modal{
    &__banners {
        position: fixed;
        padding: 57px 100px 63px 92px;
        max-width: 588px;
        width: 588px;
        border-radius: 15px;
        background: #FFF;
        box-shadow: 0px 12px 30px 0px rgba(0, 0, 0, 0.12);
        .btn {
            width: 100%;
            font-weight: 400;
            height: 50px;
        }
        
    }
}
