.offers {
    padding-bottom: 120px;
    &__back {
        display: flex;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 5px;
        line-height: 208%;
    }
    .select {
        background-color: #FFFFFF;
        
        background-image: url(../img/form_arrow.svg);
        background-repeat: no-repeat;
        background-position: center right 15px;
        border: 1px solid #DDDDDD;
        appearance: none;
        position: relative;
        height: 38px;
        &_active {
            background-color: #E9F0FC;
            border: 1px solid #8EB1ED;
        }
    }
    &__filter {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        gap: 32px;
        background: #FFFFFF;
        box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
        border-radius: 15px;
        padding: 32px 36px;
        .form__input {
            margin-bottom: 2px;
        }
        .btn {
            width: 272px;
            height: 50px;
            padding: 0;
            line-height: 167%;
        }
    }
    &__wrapper {
        gap: 32px;
    }
    &__item {
        background: #FFFFFF;
        box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.12);
        border-radius: 10px;
        position: relative;
        overflow: hidden;
        width: 464px;
        min-height: 250px;
        &__top {
            border-bottom: 1px solid #F2F2F4;
            padding: 24px 0 12px 24px;
            .fs_16 {
                width: 54%;
                margin-bottom: 22px;
                line-height: normal;
            }
        }
        &__bottom {
            padding: 12px 24px 16px;
            .fs_14 {
                line-height: 179%;
                
                max-width: 280px;
            }
            .wrapper {
                align-items: flex-end;
            }
            .btn {
                height: 38px;
                font-size: 14px;
            }
        }
    }
    .spec__img {
        max-width: 256px;
       img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: right;
       };
    }
    .spec {
        &__oldPrice {
            margin: 0 0 4px;
            font-weight: 300;
        }
    }
    .btn_transparent {
        max-width: 464px;
        margin: 32px auto 0;
        height: 44px;
        line-height: normal;
    }
}