.profile {
    background: #F2F2F4;
     padding: 32px 0 120px;
     h1.fs_28 {
        margin: 0 0 26px;
     }
     &__name {
        border-radius: 15px;
        background: #FFF;
        padding: 28px 32px 30px;
        margin-bottom: 39px;
     }
     &__nav {
        width: 340px;
        max-width: 340px;
        margin-right: 32px;
     }
     &__days {
        margin-top: 8px;
        width: 100%;
        height: 4px;
        border-radius: 6px;
        background: #E2E2E2;
        position: relative;
        overflow: hidden;
        &__range {
            position: absolute;
            left: 0;
            top: 0;
            width: 36%;
            height: 100%;
            
            background: linear-gradient(270deg, #E01963 0%, #0D67FF 100%);

        }
     }
     &__menu {
        &__link {
            display: flex;
            align-items:center;
            justify-content: flex-start;
            gap: 12px;
            padding: 6px 32px;
            width: 262px;
            max-width: 262px;
            color: $text-color;
            text-decoration: none;
            border-radius: 6px;
            transition: all .3s;
            &:hover {
                background: $blue;
                color: #fff;
                svg path {
                    fill: #fff;
                }
            }
            &_active {
                background: $blue;
                color: #fff;
                svg path {
                    fill: #fff;
                }
            }
        }

     }
     &__content {
        background: #fff;
        border-radius: 15px; 
        flex-grow: 1;
        
        .form__input {
            background: #fff;
            border: 1px solid #ddd;
            width: 280px;
            margin-bottom: 8px;
            &:focus {
                border: 1px solid $blue;
            }
        }
     }
     &__title {
        font-size: 20px;
        padding: 24px 48px;
        font-weight: 600;
        border-bottom: 1px solid #EBEBEB;
        margin-bottom: 40px;
        
     }
     &__data {
        padding: 0 48px;
        margin-bottom: 60px;
        
        .wrapper_start {
            gap: 24px;
        }
        .fs_14 {
            max-width: 428px;
        }
        .blue {
            display: block;
        }
        .btn_order {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: fit-content;
            gap: 10px;
        }
     }
     &__bottom {
        padding: 24px 48px;
        border-top: 1px solid #EBEBEB;
     }
     &__input {
        &__label {
            margin-bottom: 24px;
            display: block;
        }
        &__wrap {
            position: relative;
            &::before {
                content: '+7';
                position: absolute;
                top: 61%;
                left: 16px;
                transform: translateY(-50%);
                font-size: 15px;

            }
            .form__input {
                padding-left: 38px;
            }
        }
     }

     //история проверок
     &__content {
        &__history {
            flex-grow: 1;
            .profile__title {
                padding: 0 0 24px;
                margin-bottom: 31px;
            }
        }
        &__block {
            width: 50%;
            max-width: 506px;
            padding: 32px 32px 41px;
            border-radius: 10px;
            background: #FFF;
            box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.12);
            .fs_15 {
                max-width: 410px;
            }
        }
     }
     &__kontur {
        width: 50%;
        max-width: 458px;
        border-radius: 10px;
        background: #E9F0FC;
        padding: 38px 32px 32px;
        .btn {
            background: #33364E;
            font-weight: 400;
        }
     }
     &__history {
        &__wrapper {
            display: flex;
            justify-content: space-between;
            border-radius: 15px;
            background: #FFF;
            padding: 48px;
            gap: 24px;
            &:nth-child(2) {
                padding: 32px 48px 32px 32px;
                margin-top: 16px;
                display: block;
            }
        }
     }
     &__form {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        gap: 20px;
        .btn_order {
            border: none;
        }
        .form__input {
            margin: 0;
            background: #fff;
            border: 1px solid #ddd;
            max-width: 280px;
            &:focus {
                border: 1px solid $blue;
            }
        }
     }
     &__table {
        &__head {
            display: grid;
            grid-template-columns: 297px 252px 262px 1fr;
            padding: 8px 16px 16px 16px;
        }
        &__row {
            display: grid;
            grid-template-columns: 297px 252px 262px 1fr;
            margin-bottom: 2px;
            position: relative;
            height: 36px;
            &:nth-child(2n) {
                background: #F0F2F4;
            }
            .fs_14 {
                border-right: 2px solid #fff;
                padding: 8px 16px 9px 16px;
                line-height: 100%;
            }
            &:hover {
                background: #FFF5E1;
                &::before {
                    content: '';
                    width: 2px;
                    height: 36px;
                    background: $blue;
                    position: absolute;
                    left: 0;
                    top: 0;
                }
                .profile__table__download {
                    background: $blue;
                    color: #fff;
                    &:after {
                        background: url(../img/download_white.svg) no-repeat center;
                    }
                }
            }
        }
        &__download {
            width: 100%;
            background: #E9F0FF;
            color: $blue;
            text-decoration: none;
            padding: 8px 16px 9px 16px;
            
            display: flex;
            justify-content: space-between;
            align-items: center;
            &::after {
                content: '';
                width: 16px;
                height: 16px;
                background: url(../img/download_blue.svg) no-repeat center;
                background-size: cover;
            }
        }
     }
     //медийные баннеры
     &__content {
        &__media {
            border-radius: 15px;
            background: #FFF;
            padding: 24px 48px 48px;
            margin-bottom: 16px;
            .search__calend {
                margin-right: 24px;
            }
            .btn_black {
                height: 38px;
            }
        }
     }
     &__media {
        &__count {
            
            .wrapper_start {
                align-items: center;
            }
        }
        &__select {
            border-radius: 3px;
            border: 1px solid #DDD;
            background: #FFF;
            width: 214px;
            font-size: 14px;
            padding: 8px 16px 8px;
            margin: 0 53px 0 0;
        }
        &__head {
            align-items: center;
            margin-bottom: 60px;
        }
        //статистика
        &__wrapper {
            display: grid;
            grid-template-columns: repeat(4, 240px);
            row-gap: 40px;
        }
        
     }
     &__content {
        &__media {
            .btn {
                font-weight: 400;
                display: block;
                height: 38px;
            }
            
        }
     }
     &__media {
       &__head {
                gap: 32px;
        }
        
     }
     &__stat {
        &__item {
            border-radius: 15px;
            background: #FFF;
            padding: 24px 24px 32px;
        }
        &__circle {
            width: 228px;
            height: 228px;
            left: 50%;
            transform: translateX(-50%);
            
            position: relative;
            &__pie {
                width: 228px;
                height: 228px;
                min-width: 228px;
                min-height: 228px;
                border-radius: 100%;
                position: absolute;
                &:hover .profile__stat__tooltip {
                    opacity: 1;
                    width: auto;
                    height: auto;
                    
                }
                &:nth-child(1) {
                    background: conic-gradient(#A13960 86deg, transparent 86deg 360deg);
                    z-index: 4;
                }
                &:nth-child(2) {
                    background: conic-gradient(#DD0858 86deg 197deg, transparent 197deg 360deg);
                    z-index: 3;
                }
                &:nth-child(3) {
                    background: conic-gradient(#2764E0 197deg 269deg, transparent 0deg 197deg);
                    z-index: 2;
                }
                &:nth-child(4) {
                    background: conic-gradient(#3F9C59 269deg 297deg, transparent 297deg 360deg);
                    z-index: 1;
                }
                &:nth-child(5) {
                    background: conic-gradient(#A095E4 297deg 360deg);
                }
            }
            &__wrap {
                position: relative;
            }
            &__count {
                position: absolute;
                border-radius: 100%;
                width: 90%;
                height: 90%;
                background: #fff;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                z-index: 6;
            }

        }
        &__tooltip {
            position: absolute;
            border-radius: 5px;
            background: #000;
            color: #fff;
            padding: 5px 18px 8px;
            z-index: 7;
            top: -21px;
            opacity: 0;
            width: 1px;
            height: 1px;
            transition: all .3s;
            
            .path {
                position: absolute;
                background: #000;
                clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
                width: 7px;
                height: 4px;
                transform: rotate(180deg);
                bottom: -4px;
                left: 50%;
            }
        }
        &__list {
            list-style-type: none;
            margin-top: 32px;
        }
        &__li {
            display: grid;
            grid-template-columns: 24px 164px 86px 1fr;
            align-items: center;
            margin-bottom: 18px;
            .fs_14 {
                &:last-child {
                    text-align: right;
                }
            }
        }
        &__btn {
            width: 42px;
            height: 38px;
            border-radius: 3px;
            background: #F6F7F8;
            border: none;
            margin-right: 4px;
            cursor: pointer;
        }
        &__select {
            text-align: right;
            &__wrap {
                position: relative;
                &::before {
                    content: 'Показано:';
                    position: absolute;
                    top: 50%;
                    left: 16px;
                    transform: translateY(-50%);
                    font-size: 14px;
                }
            }
        }
     }
     &__table {
        &__stat {
            .profile__table__head {
                grid-template-columns: 191px 157px 145px 185px 192px 108px;
            }
            .profile__table__row {
                grid-template-columns: 191px 157px 145px 185px 192px 108px;
                .fs_14 {
                    font-weight: 600;
                    &:last-child {
                        border-right: none;
                    }
                    &:first-child {
                        font-weight: 400;
                    }
                }
            }
        }
     }
     .profile__media__head__stat {
        margin-bottom: 32px;
     }
     //страница нет оплаченных баннеров
     &__media {
        &__text {
            max-width: 428px;
        }
     }
     
}
.oldPrice {
    text-decoration:line-through;
 }
// синий крг с пустым центорм
.circle {
    display: block;
    width: 19px;
    height: 19px;
    min-width: 19px;
    min-height: 19px;
    position: relative;
    border-radius: 100%;
    margin-right: 8px;
    &::after {
        content: '';
        width: 11px;
        height: 11px;
        position: absolute;
        background: #fff;
        border-radius: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &_small {
        width: 16px;
        height: 16px; 
    }
    &_blue {
        background: $blue;
    
    }
    &_red {
        background: #DD0858;
    
    }
    &_green {
        background: #3F9C59;
    
    }
    &_lila {
        background: #A095E4;
    
    }
    &_braun {
        background: #A13960;
    
    }
   
}