.profile {
  .payBanner {
    cursor: pointer;
  }
  background: #f2f2f4;
  padding: 32px 0 120px;
  &-banners {
    padding-bottom: 89px;
    .profile__media__count__wrap {
      a {
        margin-top: 3px;
      }
    }
  }
  &_pb84 {
    padding-bottom: 83px;
  }
  h1 {
    margin: 0 0 26px;
  }
  &__name {
    border-radius: 15px;
    background: #fff;
    padding: 28px 32px 30px;
    margin-bottom: 45px;
    &_mb39 {
      margin-bottom: 39px;
    }
    .fs_14 {
      margin-top: 8px;
    }
  }
  &__nav {
    width: 340px;
    max-width: 340px;
    min-width: 340px;
    margin-right: 32px;
    .header__profile {
      width: 60px;
      height: 60px;
      &__back {
        &_gray {
          width: 90%;
          height: 90%;
        }
        &_white {
          width: 90%;
          height: 90%;
        }
      }
      
    }
  }
  &__days {
    margin-top: 8px;
    width: 100%;
    height: 4px;
    border-radius: 6px;
    background: #e2e2e2;
    position: relative;
    overflow: hidden;
    &__range {
      position: absolute;
      left: 0;
      top: 0;
      width: 36%;
      height: 100%;

      background: linear-gradient(270deg, #e01963 0%, #0d67ff 100%);
    }
  }
  &__menu {
    &__link {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 12px;
      padding: 6px 32px;
      width: 262px;
      max-width: 262px;
      color: $text-color;
      text-decoration: none;
      border-radius: 6px;
      transition: all 0.3s;
      margin-bottom: 7px;
      letter-spacing: -0.4px;
      &:hover {
        background: $blue;
        color: #fff;
        svg path {
          fill: #fff;
        }
      }
      &_active {
        background: $blue;
        color: #fff;
        svg path {
          fill: #fff;
        }
      }
    }
  }
  &__content {
    background: #fff;
    border-radius: 15px;
    flex-grow: 1;

    .form__input {
      background: #fff;
      border: 1px solid #ddd;
      width: 280px;
      height: 44px;
      margin-bottom: 8px;
      &:focus {
        border: 1px solid $blue;
      }
    }
  }
  &__title {
    font-size: 20px;
    padding: 24px 48px;
    font-weight: 600;
    border-bottom: 1px solid #ebebeb;
    
    &_pt30 {
      padding-top: 30px;
    }
    &_mb50 {
      margin-bottom: 50px;
    }
    
  }
  &__data {
    padding: 0 48px;
    margin-bottom: 52px;
    &_mb62 {
      margin-bottom: 62px;
    }
    .wrapper_start {
      gap: 24px;
      position: relative;
    }
    .fs_14 {
      max-width: 428px;
    }
    .blue {
      display: block;
    }
    .btn_order {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: fit-content;
      gap: 10px;
      font-size: 15px;
      &:hover svg path {
        fill: #fff;
      }
    }
    .input-file-list-item {
      position: relative;
      width: 100%;
      min-height: 38px;
      border-radius: 6px;
      background: #E4F3E1;
      color: #359526;
      font-size: 14px;
      gap: 19px;
      line-height: normal;
      display: flex;
      align-items: center;
      padding: 0 40px 0 16px;
      &::before {
        content: '';
        width: 17px;
        height: 20px;
        display: block;
        background: url(../img/input-file.svg) no-repeat center/contain;
      }
    }
    .input-file-list-remove {
      cursor: pointer;
      position: absolute;
      width: 16px;
      height: 16px;
      right: 16px;
      top: 50%;
      transform: translateY(-50%);
      background: url(../img/cross.svg) no-repeat center/cover;
    }
  }
  &__bottom {
    padding: 24px 48px;
    border-top: 1px solid #ebebeb;
    .btn {
      width: 151px;
      height: 50px;
      line-height: 167%;
      padding-top: 12px;
      padding-bottom: 13px;
    }
  }
  &__input {
    &__label {
      margin-bottom: 24px;
      display: block;
      &_mb16 {
        margin-bottom: 16px;
      }
      &_mb40 {
        margin-bottom: 40px;
      }
      
    }
    &__wrap {
      position: relative;
      display: block;
      &::before {
        content: "+7";
        position: absolute;
        top: 43%;
        left: 16px;
        transform: translateY(-50%);
        font-size: 15px;
      }
      .form__input {
        padding-left: 38px;
      }
    }
    
  }
  &__tooltip {
    font-size: 16px;
    padding: 4px;
    background: $light;
    position: absolute;
    display: none;
    top: 0;
    left: 0;
  }
  //история проверок
  &__content {
    &__history {
      flex-grow: 1;
      .profile__title {
        padding: 0 0 24px 0;
        line-height: normal;
        
        &_mb48 {
          margin-bottom: 48px;
        }
        &_pl16 {
          padding-left: 16px;
          
        }
      }
      
      
    }
    &__block {
      width: 50%;
      max-width: 506px;
      padding: 32px 32px 41px;
      border-radius: 10px;
      background: #fff;
      box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.12);
      .fs_15 {
        max-width: 410px;
      }
      .form__input {
        width: 280px;
        height: 44px;
      }
    }
  }
  &__kontur {
    width: 50%;
    max-width: 458px;
    border-radius: 10px;
    background: #e9f0fc;
    padding: 38px 32px 32px;
    .btn {
      background: #33364e;
      font-weight: 400;
      font-size: 14px;
      line-height: normal;
      padding: 9px 24px 10px;
    }
  }
  &__history {
    &__wrapper {
      display: flex;
      justify-content: space-between;
      border-radius: 15px;
      background: #fff;
      padding: 48px;
      gap: 24px;
      &:nth-child(2) {
        padding: 26px 48px 86px 32px;
        margin-top: 16px;
        display: block;
      }
      .profile__table {
        &__head {
          grid-template-columns: 303px 252px 266px 1fr;
        }
        &__row {
          grid-template-columns: 301px 256px 265px 1fr;
          .fs_14 {
            line-height: normal;
          }
        }
      }
    }
  }
  &__form {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 20px;
    .btn_order {
      border: none;
    }
    .form__input {
      margin: 0;
      background: #fff;
      border: 1px solid #ddd;
      max-width: 280px;
      &:focus {
        border: 1px solid $blue;
      }
    }
  }
  &__table {
    &__head {
      display: grid;
      grid-template-columns: 297px 252px 262px 1fr;
      padding: 8px 16px 16px 16px;
    }
    &__row {
      display: grid;
      grid-template-columns: 297px 252px 262px 1fr;
      margin-bottom: 2px;
      position: relative;
      height: 36px;
      &:nth-child(2n) {
        background: #f0f2f4;
      }
      .fs_14 {
        border-right: 2px solid #fff;
        padding: 8px 16px 9px 16px;
        line-height: 100%;
      }
      &:hover {
        background: #fff5e1;
        &::before {
          content: "";
          width: 2px;
          height: 36px;
          background: $blue;
          position: absolute;
          left: 0;
          top: 0;
        }
        .profile__table__download {
          background: $blue;
          color: #fff;
          &:after {
            background: url(../img/download_white.svg) no-repeat center;
          }
        }
      }
    }
    &__download {
      width: 100%;
      background: #e9f0ff;
      color: $blue;
      text-decoration: none;
      padding: 8px 16px 9px 16px;
      font-size: 14px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &::after {
        content: "";
        width: 16px;
        height: 16px;
        background: url(../img/download_blue.svg) no-repeat center;
        background-size: cover;
      }
    }
  }
  //медийные баннеры
  &__content {
    &__media {
      border-radius: 15px;
      background: #fff;
      padding: 24px 48px 48px;
      margin-bottom: 16px;
      &_stat {
        padding-bottom: 51px;
        max-width: 1084px;
        background: #fff;
        border-radius: 15px;
        margin-bottom: 16px;
      }
      .search__calend {
        margin-right: 24px;
      }
      .btn_black {
        height: 38px;
      }
    }
  }
  &__media {
    &__count {
      &__wrap {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 8px;
        a {
          display: block;
          background-color: #778899;
          mask: url(../img/info-icon.svg) no-repeat center / contain;
          width: 18px;
          height: 18px;
        }
      }
      .gray {
        text-transform: uppercase;
        letter-spacing: .6px;
        line-height: normal;
        margin-bottom: 2px;
      }
      .wrapper_start {
        align-items: flex-end;
      }
    }
    
    
    &__head {
      align-items: center;
      margin-bottom: 60px;
      .select {
        max-width: 214px;
      }
      .new-select {
        background-color: #fff;
        border: 1px solid #ddd;
      }
    }
    //статистика
    &__wrapper {
      display: grid;
      grid-template-columns: 262px 265px 243px 1fr;
      row-gap: 40px;
      margin-bottom: 29px;
      //баннеры
      &-banners {
        grid-template-columns: 343px 1fr;
        margin-bottom: 0;
      }
    }
  }
  &__content {
    &__media {
      .select {
        max-width: 214px;
      }
      .new-select {
        border-radius: 3px;
      border: 1px solid #ddd;
      background-color: #fff;
      background-image: url(../img/form_arrow.svg);
      background-repeat: no-repeat;
      background-position: center right 15px;
      appearance: none;
      width: 214px;
      font-size: 14px;
      padding: 8px 36px 8px 16px;
      margin: 0 18px 0 0;
      height: 38px;
      }
      &_p60 {
        padding-top: 60px;
        padding-bottom: 49px;
        max-width: 1084px;
      }
      .radio__tabs {
        margin-right: 32px;
      }
      .search__calend {
        
        margin-right: 0;
      }
      .btn_gray {
        padding: 11px 24px 13px;
      }
      .btn {
        font-weight: 400;
        display: block;
        height: 38px;
        font-size: 14px;
        &.mr_32 {
          padding: 11px 16px 13px 14px;
          svg {
            margin-right: 11px;
          }
        }
        
      }
    }
  }
  &__media {
    &__head {
      gap: 32px;
    }
  }
  &__stat {
    .profile__title {
      padding: 24px 0 24px 48px;
    }
    .profile__media__select {
      border-radius: 6px;
    }
    &__wrap {
      padding: 0 48px;
    }
    &__category {
      column-gap: 17px;
    }
    &__item {
      border-radius: 15px;
      background: #fff;
      padding: 24px 24px 32px;
      .profile__title {
        padding: 2px 0 24px 6px;
      }
    }
    &__circle {
      width: 228px;
      height: 228px;
      left: 50%;
      transform: translateX(-50%);

      position: relative;
      &__pie {
        width: 228px;
        height: 228px;
        min-width: 228px;
        min-height: 228px;
        border-radius: 100%;
        position: absolute;
        &:hover .profile__stat__tooltip {
          opacity: 1;
          width: auto;
          height: auto;
        }
        &:nth-child(1) {
          background: conic-gradient(#a13960 86deg, transparent 86deg 360deg);
          z-index: 4;
        }
        &:nth-child(2) {
          background: conic-gradient(
            #dd0858 86deg 197deg,
            transparent 197deg 360deg
          );
          z-index: 3;
        }
        &:nth-child(3) {
          background: conic-gradient(
            #2764e0 197deg 269deg,
            transparent 0deg 197deg
          );
          z-index: 2;
        }
        &:nth-child(4) {
          background: conic-gradient(
            #3f9c59 269deg 297deg,
            transparent 297deg 360deg
          );
          z-index: 1;
        }
        &:nth-child(5) {
          background: conic-gradient(#a095e4 297deg 360deg);
        }
      }
      &__wrap {
        position: relative;
      }
      &__count {
        position: absolute;
        border-radius: 100%;
        width: 90%;
        height: 90%;
        background: #fff;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 6;
        
      }
    }
    &__tooltip {
      position: absolute;
      border-radius: 5px;
      background: #000;
      color: #fff;
      padding: 5px 18px 8px;
      z-index: 7;
      top: -21px;
      opacity: 0;
      width: 1px;
      height: 1px;
      transition: all 0.3s;

      .path {
        position: absolute;
        background: #000;
        clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
        width: 7px;
        height: 4px;
        transform: rotate(180deg);
        bottom: -4px;
        left: 50%;
      }
    }
    &__list {
      list-style-type: none;
      margin: 34px 0 32px;
    }
    &__li {
      display: grid;
      grid-template-columns: 24px 164px 86px 1fr;
      align-items: center;
      margin-bottom: 15px;
      .fs_14 {
        line-height: normal;
        &:last-child {
          text-align: right;
        }
      }
    }
    &__btn {
      &:first-child {
        background: #f6f7f8 url(../img/arrow_up_gray.svg) no-repeat center;
        background-size: 10px 16px;
      }
      width: 42px;
      height: 38px;
      border-radius: 3px;
      
      border: none;
      margin-right: 4px;
      cursor: pointer;
      background: #f6f7f8 url(../img/arrow_down_gray.svg) no-repeat center;
      background-size: 10px 16px;
    }
    &__select {
      text-align: right;
      &__wrap {
        position: relative;
        &::before {
          content: "Показано:";
          position: absolute;
          top: 50%;
          left: 16px;
          transform: translateY(-50%);
          font-size: 14px;
        }
      }
    }
  }
  &__table {
    &__stat {
      .profile__table__head {
        grid-template-columns: 200px 161px 154px 185px 195px 1fr;
        padding-left: 0;
      }
      .profile__table__row {
        grid-template-columns: 191px 161px 146px 185px 196px 1fr;
        height: 24px;
        .fs_14 {
          line-height: normal;
          font-weight: 600;
          padding: 4px 0 0 9px;
          &:last-child {
            border-right: none;
            padding-left: 13px;
          }
          &:first-child {
            font-weight: 400;
            padding: 4px 0 0 6px;
          }
          &:nth-child(4) {
            padding-left: 14px;
          }
          &:nth-child(5) {
            padding-left: 16px;
          }
        }
      }
    }
  }
  .profile__media__head__stat {
    margin-bottom: 25px;
    gap: 0;
  }
  //табы в моб.версии
  &__stat {
    &__tabs {
      &__caption {
        display: flex;
        gap: 12px;
        list-style-type: none;
        max-width: 350px;
        overflow-x: scroll;
        margin: 32px 0 16px;
      }
    }
    &__tab {
      padding: 9px 16px;
      border-radius: 6px;
      border: 1px solid #DDD;
      background: #FFF;
      text-align: center;
      white-space: nowrap;
      font-size: 14px;
      &_active {
        background: $blue;
        color: #fff;
      }
      &__content {
        
          display: none;
          margin-bottom: 16px;
          &_active {
            display: block;
          }
        
      }
    }
  }
  //страница нет оплаченных баннеров
  &__media {
    &__text {
      max-width: 428px;
    }
  }
}
.oldPrice {
  text-decoration: line-through;
}
// синий крг с пустым центорм
.circle {
  display: block;
  width: 19px;
  height: 19px;
  min-width: 19px;
  min-height: 19px;
  position: relative;
  border-radius: 100%;
  margin-right: 8px;
  &::after {
    content: "";
    width: 11px;
    height: 11px;
    position: absolute;
    background: #fff;
    border-radius: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &_small {
    width: 16px;
    height: 16px;
  }
  &_blue {
    background: $blue;
  }
  &_red {
    background: #dd0858;
  }
  &_green {
    background: #3f9c59;
  }
  &_lila {
    background: #a095e4;
  }
  &_braun {
    background: #a13960;
  }
}
//анкета поставщика
.profile {
  &__anketa {
    padding: 0 48px 34px;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 31px;
    .fs_15 {
      max-width: 598px;
    }
    .raiting_green {
      background: conic-gradient(#36a71a 0 66%, #d9d9d9 0 2%);
      width: 48px;
      height: 48px;
      min-width: 46px;
      min-height: 46px;
      &::after {
        width: 90%;
        height: 90%;
        left: 5%;
        top: 5%;
      }
    }
  }
  &__done {
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.12);
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 24px 32px;
    margin: 21px 0;
    max-width: 411px;
    &__text {
      font-size: 14px;
      line-height: 200%;
      display: flex;
      align-items: center;
      gap: 9px;
      padding-left: 31px;
      &::before {
        content: "";
        background: url(../img/check_green.svg) no-repeat center;
        width: 15px;
        height: 11px;
        display: block;
      }
    }
  }
  &__adress {
    max-width: 559px;
    .form__input {
      width: 100%;
    }
    .btn_order {
      width: 100%;
      font-weight: 600;
      justify-content: center;
      height: 44px;

      &::before {
        content: "";
        display: block;
        background: url(../img/cross_blue.svg) no-repeat center;
        width: 16px;
        height: 16px;
      }
      &:hover {
        opacity: 0.7;
        color: $blue;
        background: #e9f0fc;
      }
    }
    .profile__input__label {
      margin-bottom: 12px;
      &_mb40 {
        margin-bottom: 40px;
      }
    }
  }
  &__textarea {
    border-radius: 6px;
    border: 1px solid #ddd;
    background: #fff;
    resize: none;
    width: 100%;
    height: 100px;
    display: block;
    padding: 12px 16px;
    margin-bottom: 48px;
    &::placeholder {
      color: $text-color;
      font-size: 15px;
    }
    &:focus {
      outline: 4px solid #e9effc;
      border: 1px solid #2764e0;
    }
  }
  &__input {
    &__photo {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border-radius: 10px;
      border: 1px dashed #ddd;
      max-width: 559px;
      height: 251px;
      margin: 21px 0 48px;
      cursor: pointer;
      input {
        display: none;
      }
    }
  }
  &__adress {
    &__wrap {
      display: flex;
      position: relative;
      margin-bottom: 16px;
      &::after {
        content: "";
        background: url(../img/cross.svg) no-repeat center;
        background-size: cover;
        display: block;
        width: 16px;
        height: 16px;
        position: absolute;
        right: 14px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
      }
    }
  }
  .form__input__serv {
    margin-bottom: 0;
    padding-right: 30px;
    &:nth-child(1) {
      width: 75%;
      border-radius: 6px 0 0 6px;
      border-right: none;
      &:focus {
        border-right: 1px solid $blue;
      }
    }
    &:nth-child(2) {
      width: 25%;
      border-radius: 0 6px 6px 0;
    }
    &_fill {
      background: #f2f2f4;
    }
  }
  //моб версия
  &__back {
    margin-top: 1px;
    text-align: center;
    background: #FFF;
    box-shadow: 0px 1px 14px 0px rgba(47, 61, 84, 0.15);
    width: 100%;
    height: 60px;
    padding: 20px 0;
    position: relative;
    text-decoration: none;
    top: 0;
    left: 0;
    color: $text-color;
    &::before {
        content: '';
        background: url(../img/arrow_back.svg) no-repeat center;
        background-position: cover;
        display: block;
        width: 20px;
        height: 18px;
        position: absolute;
        left: 20px;
        top: 50%;
        transform: translateY(-50%);
    }
  }
}
