.proverka {
    padding: 24px 0 120px;
    background: #F2F2F4;
    .center {
        display: flex;
        justify-content: center;
        max-width: 630px;
    }
    &__item {
        background: #fff;
        box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
        border-radius: 15px;
        width: 49%;
        max-width: 588px;
       
        &__top {
            padding: 44px 48px 29px;
            border-bottom: 1px solid #E1E1E1;
            height: 236px;
        }
        &__bottom {
            padding: 24px 48px 40px;
            .wrapper_start {
                align-items: center;
            }
            .btn {
                position: relative;
                padding: 10px 24px 10px 52px;
                line-height: 25px;
                img {
                    position: absolute;
                    top: 50%;
                    left: 16px;
                    transform: translateY(-50%);
                }
            }
        }
    }
    &__price {
        width: 145px;
        
    }
    &__pdf {
        margin-left: 32px;
        display: flex;
        span {
            margin-left: 12px;
            background: rgb(93%, 17%, 17%, .1);
           padding: 1px 5px;
            border-radius: 4px;
            color: #EC2C2C;
            line-height: 19px;
        }
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        
        align-content: stretch;
        
       
    }
    &__content {
        max-width: 649px;
        
    }
    &__kontur {
        padding: 48px 0 81px 80px;
        background: #fff;
        box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
        border-radius: 15px 0 0 15px;
        flex-grow: 1;
        &__img {
            background: #33364E;
            border-radius: 0px 15px 15px 0px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 57px 0 87px;
        }
    } 
}