.search {
    padding-bottom: 100px;
    &__tabs {
        min-width: 260px;
        margin-right: 32px;
    }
    &__calend {
        &__wrap {
            position: relative;
            margin-right: 24px;
            &::before {
                content: '';
                width: 15px;
                height: 16px;
                position: absolute;
                background: url(../img/search/calendar.svg) no-repeat center;
                top: 50%;
                transform: translateY(-50%);
                left: 16px;
            }
        }
        background: #fff;
        border: 1px solid #ddd;
        padding-left: 48px;   
        margin-bottom: 0; 
        height: 38px;
    }
    .labelRadio {
        padding: 11px 16px;
    }
    &__wrapper {
       margin-top: 32px; 
       gap: 32px;
    }
    &__item {
        display: block;
        text-decoration: none;
        background: #FFFFFF;
        outline: 1px solid #F2F2F4;
        border-radius: 10px;
        width: 464px;
        height: 236px;
        transition: all .3s;
        &:hover {
            box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
            border: none;
        }
        &__top {
            border-bottom: 1px solid #F2F2F4;
            padding: 32px 40px 24px;
            .fs_16 {
                max-width: 357px;
                line-height: 21px;
                display: block;
            }
        }
        &__bottom {
            padding: 24px 40px 24px;
            display: flex;
            justify-content: space-between;
            .gray {
                text-decoration: none;
                display: flex;
                align-items: center;
                img {
                    margin-right: 8px;
                }
            }
        }
    }
    &__property {
        background: #E9F0FC;
        border-radius: 4px;
       white-space: nowrap;
        color: $blue;
        padding: 4px 8px;
        font-size: 12px;
        text-decoration: none;
        &__wrapper {
            gap: 8px;
            width: 100%;
            flex-wrap: wrap;
           
        }
    }
}
.toggler {
    display: flex;
    align-items: center;
}
.toggle-button {
    position: relative;
    display: inline-block;
    width: 38px;
    height: 22px;
    margin-left: 16px;
    background: #DDDDDD;
    border-radius: 30px;
    
    outline: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: all .3s;
    &::after {
        content: "";

        display: inline-block;
        position: absolute;
        left: 3px;
        top: 3px;

        width: 16px;
        height: 16px;
        background-color: #fff;
        border-radius: 50%;

        transform: translateX(0);
        transition: all .3s;
    }
    &:checked {
        &::after {
            transform: translateX(calc(100% - 1px)); 
        }
        background: $blue;
    }
   }
