*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@import '_vari.scss';
@font-face {
    font-family: 'Segoe UI';
    src: url(/fonts/SegoeUI.ttf) format('ttf');
    font-weight: 400;
  }
  @font-face {
    font-family: 'Segoe UI';
    src: url(/fonts/SegoeUIBold.ttf) format('ttf');
    font-weight: 700;
  }
  
  body {
    font-family: 'Segoe UI', 'Arial', sans-serif;
    color: $text-color;
  }
  .container {
    max-width: 1456px;
    width: 90%;
    margin: 0 auto;
  }
  .btn {
    padding: 11px 24px;
    background: $blue;
    font-weight: 600;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #FFFFFF;
    border-radius: 6px;
    width: fit-content;
    cursor: pointer;
    &:hover {
      opacity: .8;
    }
    &:active {
      box-shadow: inset 4px 4px 4px rgba(16, 16, 16, 0.68);
    }
    &__burger {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      width: 13px;
      height: 12px;
      margin-right: 12px;
      span {
        display: block;
        height: 2px;
        width: 100%;
        background: #fff;
      }
    }
  }
  .title {
    font-weight: 600;
    font-size: 28px;
    line-height: 37px;
  }
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  //products
  .product {
    &__item {
      position: relative;
      margin: 32px 32px 32px 0;
      display: block;
      width: 154px;
      height: 171px;
      background: #FFFFFF;
      box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.12);
      border-radius: 15px;
      padding: 16px;
      text-decoration: none;
      &__title {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        color: $text-color2;
        margin-bottom: 20px;
      }
      img {
        display: block;
        margin: 0 auto;
        max-width: 90%;
      }
      
    }
    &__count {
      position: absolute;
      bottom: 12px;
      right: 12px;
      background: $blue;
      border-radius: 30px;
      color: #FFFFFF;
      font-style: normal;
      font-weight: 600;
      font-size: 11px;
      text-align: center;
      padding: 2px 6px;
      width: fit-content;
      
    }
  }
  //text
  .blue {
    color: $blue;
    text-decoration: none;
  }
  .gray {
    color: $dark_back;
  }
  .fs_14 {
    font-size: 14px;
    line-height: 180%;
  }
  .fs_16 {
    font-size: 16px;

  }
  .fs_18 {
    font-size: 18px;
    line-height: 140%;
  }
  .fw_600 {
    font-weight: 600;
  }
  .title_36 {
    font-weight: 600;
    font-size: 36px;
    line-height: 48px;
  }
  //form
  .label {
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 8px;
    display: block;
  }
  .form__input {
    background: #E9F0FC;
    border: 1px solid #8EB1ED;
    border-radius: 5px;
    font-weight: 400;
    font-size: 15px;
    padding: 9px 16px;
    width: 286px;
    margin-bottom: 24px;
  }
  //raiting 
    .raiting {
      width: 69px;
      height: 69px;
      min-width: 69px;
      min-height: 69px;
      border-radius: 100%;
      position: relative;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      &::after {
        border-radius: 100%;
        display: block;
        content: '';
        background: #fff;
        position: absolute;
        left: 3px;
        top: 3px;
        width: 63px;
        height: 63px;
        z-index: 1;
      }
      &__number {
        position: relative;
        z-index: 3;
        
      }
      &_49 {
        background: conic-gradient(#36A71A 0 98%, #D9D9D9 0 2%);
      }
      &_34 {
        background: conic-gradient(#CFD240 0 68%, #D9D9D9 0 32%);
      }
    }

 
  @import '_banner.scss';
  @import '_header.scss';
  @import '_footer.scss';
  @import '_main.scss';
  @import '_cart.scss';
  @import '_media.scss';

