*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@import '_vari.scss';
@font-face {
    font-family: 'Segoe UI';
    src: url(/fonts/SegoeUI.ttf) format('ttf');
    font-weight: 400;
  }
  @font-face {
    font-family: 'Segoe UI';
    src: url(/fonts/SegoeUIBold.ttf) format('ttf');
    font-weight: 700;
  }
  
  body {
    font-family: 'Segoe UI', 'Arial', sans-serif;
    color: $text-color;
  }
  .container {
    max-width: 1456px;
    width: 90%;
    margin: 0 auto;
  }
  .btn {
    padding: 11px 24px;
    background: $blue;
    font-weight: 600;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #FFFFFF;
    border-radius: 6px;
    width: fit-content;
    cursor: pointer;
    &:hover {
      opacity: .8;
    }
    &:active {
      box-shadow: inset 4px 4px 4px rgba(16, 16, 16, 0.68);
    }
    &__burger {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      width: 13px;
      height: 12px;
      margin-right: 12px;
      span {
        display: block;
        height: 2px;
        width: 100%;
        background: #fff;
      }
    }
  }
  .title {
    font-weight: 600;
    font-size: 28px;
    line-height: 37px;
  }
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .product {
    &__item {
      width: 154px;
      height: 171px;
      background: #FFFFFF;
      box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.12);
      border-radius: 15px;
      padding: 16px;
      &__title {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        color: $text-color2;
        margin-bottom: 20px;
      }
      img {
        max-width: 90%;
      }
    }
  }
  

 
  @import '_banner.scss';
  @import '_header.scss';
  @import '_footer.scss';
  @import '_main.scss';
  @import '_cart.scss';
  @import '_media.scss';

