*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@import '_vari.scss';
@font-face {
    font-family: 'Segoe UI';
    src: url(/fonts/SegoeUI.ttf) format('ttf');
    font-weight: 400;
  }
  @font-face {
    font-family: 'Segoe UI';
    src: url(/fonts/SegoeUIBold.ttf) format('ttf');
    font-weight: 700;
  }
  
  body {
    font-family: 'Segoe UI', 'Arial', sans-serif;
    color: $text-color;
  }
  h1, h2, h3 {
    font-weight: 600;
    margin: 0;
  }
  .container {
    max-width: 1456px;
    width: 90%;
    margin: 0 auto;
    position: relative;
  }
  .container_1200 {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
  }
  .container_1208 {
    max-width: 1208px;
    width: 90%;
    margin: 0 auto;
  }
  .container_996 {
    max-width: 996px;
    width: 90%;
    margin: 0 auto;
  }
  .container_992 {
    max-width: 992px;
    width: 90%;
    
  }
  
  .container_960 {
    max-width: 960px;
    width: 90%;
    position: relative;
    margin: 0 auto;
  }
  //btns
  button {
    background: transparent;
    border: none;
  }
  .btn {
    padding: 11px 24px 13px;
    background: $blue;
    
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #FFFFFF;
    border-radius: 6px;
    width: fit-content;
    cursor: pointer;
    border: none;
    &:hover {
      opacity: .8;
      transition: all .3s;
    }
    &:active {
      box-shadow: inset 4px 4px 4px rgba(16, 16, 16, 0.68);
    }
    &__burger {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      width: 13px;
      height: 12px;
      margin-right: 12px;
      span {
        display: block;
        height: 2px;
        width: 100%;
        background: #fff;
      }
    }
    &_small {
      height: 24px;
      background: #FFFFFF;
      border-radius: 5px;
      color: #007BFF;
      padding: 2px 10px 3px;
      cursor: pointer;
      width: fit-content;
      transition: all .3s;
      font-size: 14px;
      &:hover {
        background: #007BFF;
        color: #fff;
      }
      &:active {
        box-shadow: inset 2px 2px 2px rgba(16, 16, 16, 0.68);
      }
    }
    &_gray {
      background: #EFF2F6;
      border-radius: 8px;
      font-size: 14px;
      padding: 11px 14px;
      text-decoration: none;
      color: $text-color;
      display: flex;
      justify-content: center;
      align-items: center;
      svg {
        margin-right: 9px;
      }
      &:hover {
        opacity: .8;
        transition: all .3s;
      }
      &:active {
        box-shadow: inset 2px 2px 2px rgba(16, 16, 16, 0.68);
      }
    }
    &_more {
      width: 38px;
      height: 38px;
      background: #FFFFFF;
      border: 1px solid #DCDCDC;
      border-radius: 8px;
      text-decoration: none;
      color: $text-color;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 12px;
      svg {
        margin: 1px;
      }
    }
    &_transparent {
      font-weight: 400;
      font-size: 15px;
      color: $text-color;
      border: 1px solid #DCDCDC;
      border-radius: 8px;
      padding: 10px 0;
      text-align: center;
      display: block;
      text-decoration: none;
      &:hover {
        opacity: .8;
        transition: all .3s;
      }
      &:active {
        box-shadow: inset 2px 2px 2px rgba(16, 16, 16, 0.68);
      }
    }
    &_order {
      color: $blue;
      background: #E9F0FC;
      border-radius: 8px;
      padding: 10px 24px;
      font-weight: 400;
      font-size: 14px;
      text-decoration: none;
      &:hover {
        color: #fff;
        background: $blue;
        transition: all .3s;
      }
      &:active {
        box-shadow: inset 4px 4px 4px rgba(16, 16, 16, 0.68);
      }
    }
    &_lightblue {
      background: #E9F0FC;
      border-radius: 6px;
      width: 100%;
      display: block;
      font-weight: 600;
      font-size: 15px;
      padding: 11px 0;
      text-align: center;
      text-decoration: none;
      color: $blue;
      &:hover {
        color: #fff;
        background: $blue;
        transition: all .3s;
      }
      &:active {
        box-shadow: inset 2px 2px 2px rgba(16, 16, 16, 0.68);
      }
    }
    &_black {
      border-radius: 6px;
      background: #33364E;
    }
    &_38 {
      height: 38px;
    }
    &_44 {
      height: 44px;
    }
    &_50 {
      height: 50px;
    }
  }
  .title {
    font-weight: 600;
    font-size: 28px;
    line-height: 37px;
  }
  //wrappers
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .flexWrap {
    flex-wrap: wrap;
  }
  .wrapper_center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .wrapper_start {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .wrapper_end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  
  //products
  .product {
    &__item {
      position: relative;
      margin: 32px 32px 32px 0;
      display: block;
      width: 154px;
      height: 172px;
      background: #FFFFFF;
      box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
      border-radius: 15px;
      padding: 16px;
      text-decoration: none;
      &__title {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        color: $text-color2;
        margin-bottom: 20px;
        
      }
      img {
        display: block;
        margin: 0 auto;
        max-width: 90%;
      }
      
    }
    &__count {
      position: absolute;
      bottom: 12px;
      right: 12px;
      background: $blue;
      border-radius: 30px;
      color: #FFFFFF;
      font-style: normal;
      font-weight: 600;
      font-size: 11px;
      text-align: center;
      padding: 2px 6px;
      width: fit-content;
      
    }
  }
  //text
  .blue {
    color: $blue;
    text-decoration: none;
  }
  .gray {
    color: $dark_back;
  }
  .gray2 {
    color: $gray;
  }
  .green {
    color: #1A903C;
  }
  .textColor {
    color: $text-color;
    text-decoration: none;
  }
  .orange {
    color: #DA621E;
  }
  .fs_12 {
    font-size: 12px;
  }
  .fs_13 {
    font-size: 13px;
  }
  .fs_14 {
    font-size: 14px;
    line-height: 180%;
    
  }
  .fs_15 {
    font-size: 15px;
  }
  .fs_16 {
    font-size: 16px;

  }
  .fs_18 {
    font-size: 18px;
        
  }
  .fs_20 {
    font-size: 20px;
  }
  .fs_21 {
    font-size: 21px;
  }
  .fs_24 {
    font-size: 24px;
    
  }
  .fs_28 {
    font-size: 28px;
    
  }
  .fs_32 {
    font-size: 32px;
  }
  .title_36 {
    font-weight: 600;
    font-size: 36px;
    line-height: normal;
  }
  .fs_60 {
    font-size: 60px;
  }
  .fw_600 {
    font-weight: 600;
  }
  .fw_400 {
    font-weight: 400;
  }
 
  .center {
    text-align: center;
    margin: 0 auto;
  }
  .lh_208 {
    line-height: 208%;
  }
  .lh_182 {
    line-height: 182%;
  }
  .lh_179 {
    line-height: 179%;
  }
  .lh_175 {
    line-height: 175%;
  }
  .lh_167 {
    line-height: 167%;
  }
  .lh_157 {
    line-height: 157%;
  }
  .lh_156 {
    line-height: 156%;
  }
  .lh_149 {
    line-height: 149%;
  }
  .lh_139 {
    line-height: 139%;
  }
  .lh_104 {
    line-height: 104%;
  }
  .lh_norm {
    line-height: normal;
  }
  //form
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none; 
  }
  input[type='number'],
  input[type="number"]:hover,
  input[type="number"]:focus {
      appearance: none;
      -moz-appearance: textfield;
  }
  .label {
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 8px;
    display: block;
    line-height: normal;
  }
  .form {
    &__input {
      background: #E9F0FC;
      border: 1px solid #8EB1ED;
      border-radius: 5px;
      font-weight: 400;
      font-size: 15px;
      padding: 9px 16px;
      width: 100%;
      margin-bottom: 24px;
      &:focus {
        outline: 4px solid #E9EFFC;
        border: 1px solid #2764E0;
      }
    }
    &__divider {
      background: #F2F2F4;
      height: 1px;
      margin-bottom: 16px;
      
      width: 108%;
      margin-left: -4%;
    }
    &__wrapper {
      gap: 32px;
      justify-content: center;
      margin-bottom: 32px;
      align-items: flex-start;
    }
    &__item {
      
      &_286 {
        width: 286px;
        .gray2 {
          line-height: normal;
        }
      }
      &__210 {
        width: 210px;
      }
      &_392 {
        width: 392px;
      }
    }
  }
  fieldset {
    border: none;
    padding: 0;
  }
  
  //raiting 
    .raiting {
      width: 69px;
      height: 69px;
      min-width: 69px;
      min-height: 69px;
      border-radius: 100%;
      position: relative;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      &::after {
        border-radius: 100%;
        display: block;
        content: '';
        background: #fff;
        position: absolute;
        left: 3px;
        top: 3px;
        width: 63px;
        height: 63px;
        z-index: 1;
      }
      &__number {
        position: relative;
        z-index: 3;
        
      }
      &_green {
        background: conic-gradient(#36A71A 0 98%, #D9D9D9 0 2%);
      }
      &_yellow {
        background: conic-gradient(#CFD240 0 68%, #D9D9D9 0 32%);
      }
    }
    .hide {
      display: none;
    }

    .adv {
      position: absolute;
      bottom: -1px;
      right: 15px;
      background: url(../img/adv_bg.png) no-repeat center;
      background-size: cover;
      width: 115px;
      text-align: center;
      border-radius: 10px 10px 0 0;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      color: $dark_back;
      height: 22px;
    }
    .checkmark {
      &_blue {
        width: 16px;
        height: 16px;
        min-width: 16px;
        min-height: 16px;
        background: $blue;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        color: #fff;
        font-weight: 600;
        font-size: 12px;
        align-self: center;
        margin-right: 8px;
      }
    }
    //margins
    .mt_48 {
      margin-top: 48px;
    }
    .mb_86 {
      margin-bottom: 86px;
    }
    .mb_80 {
      margin-bottom: 80px;
    }
    .mb_74 {
      margin-bottom: 74px;
    }
    .mb_71 {
      margin-bottom: 71px;
    }
    .mb_68 {
      margin-bottom: 68px;
    }
    .mb_64 {
      margin-bottom: 64px;
    }
    
    .mb_60 {
      margin-bottom: 60px;
    }
    .mb_56 {
      margin-bottom: 56px;
    }
    .mb_50 {
      margin-bottom: 50px;
    }
    
    .mb_48 {
      margin-bottom: 48px;
    }
    .mb_46 {
      margin-bottom: 46px;
    }
    .mb_44 {
      margin-bottom: 44px;
    }
    .mb_42 {
      margin-bottom: 42px;
    }
    .mb_40 {
      margin-bottom: 40px;
    }
    .mb_38 {
      margin-bottom: 38px;
    }
    .mb_36 {
      margin-bottom: 36px;
    }
    
    .mb_34 {
      margin-bottom: 34px;
    }
    .mb_33 {
      margin-bottom: 33px;
    }
    .mb_32 {
      margin-bottom: 32px;
    }
    .mt_32 {
      margin-top: 32px;
    }
    .mb_30 {
      margin-bottom: 30px;
    }
    .mb_28 {
      margin-bottom: 28px;
    }
    .mb_26 {
      margin-bottom: 26px;
    }
    .mb_24 {
      margin-bottom: 24px;
    }
    .mb_22 {
      margin-bottom: 22px;
    }
    .mb_20 {
      margin-bottom: 20px;
    }
    .mb_18 {
      margin-bottom: 18px;
    }
    .mb_16 {
      margin-bottom: 16px;
    }
    .mb_17 {
      margin-bottom: 17px;
    }
    .mt_12 {
      margin-top: 12px;
    }
    .mb_12 {
      margin-bottom: 12px;
    }
    .mb_10 {
      margin-bottom: 10px;
    }
    .mb_8 {
      margin-bottom: 8px;
    }
    .mb_6 {
      margin-bottom: 6px;
    }
    .mb_5 {
      margin-bottom: 5px;
    }
    .mb_3 {
      margin-bottom: 3px;
    }
    .mr_5 {
      margin-right: 5px;
    }
    .mr_8 {
      margin-right: 8px;
    }
    .mr_12 {
      margin-right: 12px;
    }
    .mr_16 {
      margin-right: 16px;
    }
    .mr_20 {
      margin-right: 20px;
    }
    .mr_24 {
      margin-right: 24px;
    }
    .mr_26 {
      margin-right: 26px;
    }
    .mr_32 {
      margin-right: 32px;
    }
    .mr_30 {
      margin-right: 30px;
    }
    .mt_30 {
      margin-top: 30px;
    }
    .ml_11 {
      margin-left: 11px;
    }
    .divider {
      height: 1px;
      width: 100%;
      background: #F2F2F4;
    }

    //sites count
    .sitesCount {
      &__site {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        background: #F2F2F4;
        width: 32px;
        height: 32px;
        font-size: 14px;
        color: $text-color;
        text-decoration: none;
        margin-right: 12px;
        &_active {
          background: $blue;
          color: #fff;
        }
        &:hover {
          background: #DDDDDE;
          transition: all .3s;
        }
      }
    }
    //radio tabs
    .radio {
      &__tabs {
          
          display: flex;
          margin-right: 32px;
          label {
              display: block;
             &:first-child {
              .radio__mark {
                  border-radius: 6px 0px 0px 6px;
              }
             }
             &:last-child {
              .radio__mark {
                  border-radius: 0px 6px 6px 0px;
                  border-right: 1px solid #DDD;
              }
             }
          }
          input[type=radio] {
              display: none;
          }
          input[type=radio]:checked + .radio__mark {
              border: 1px solid #2764E0;
              background: #E9F0FC;
          }
      }
      &__mark {
          font-size: 14px;
          padding: 9px 15px;
          border: 1px solid #DDD;
          border-right: none;
          background: #FFF;
          cursor: pointer;
          display: block;
          height: 38px;
      }
      
  }

  //checkbox
  .checkbox {
    display: none;
    &:checked + .checkbox__mark {
      background-color: $blue;
      background-image: url(../img/checked.svg);
      background-repeat: no-repeat;
      background-position: center;
      
    }
    &__mark {
      border-radius: 6px;
      border: 1px solid $blue;
      width: 24px;
      height: 24px;
      display: block;
      background: #fff;
    }
  }


 
  @import '_banner.scss';
  @import '_header.scss';
  
  @import '_main.scss';
  @import '_cart.scss';
  @import '_catalog';
  @import '_catalogFilters';
  @import '_providerscard.scss';
  @import '_serv.scss';
  @import '_company.scss';
  @import '_advertisers.scss';
  @import '_providersite.scss';
  @import '_offers.scss';
  @import '_search.scss';
  @import '_error.scss';
  @import '_proverka.scss';
  @import '_blog.scss';
  @import '_article.scss';
  @import '_help.scss';
  @import '_orders.scss';
  @import '_directory.scss';
  @import '_marochnik.scss';
  @import '_calc.scss';
  @import '_profile.scss';
  @import '_calend.scss';
  @import '_modal.scss';
  @import '_footer.scss';
  @import '_media.scss';

